[2015-11-30 22:50] mapuri opened #2 "netplugin: need to set `vtep-ip` flag always"
this issue tracks setting the `vtep-ip` flag for netplugin when setting up the `contiv_network` role

[2015-12-18 20:11] jainvipin opened #9 "need ways to introduce k8s"
The roles and groups that are defined so far includes swarm scheduler. What would be the best way to contribute to this repo to add k8s scheduler. Few options I can think of:
- create host-groups that are different for k8s, for example host-group service-master, can be split into two 'service-master-docker' vs 'service-master-k8s'
- abstract out scheduler role from this to be called 'scheduler' an

[2015-12-18 20:29] mapuri commented on #9
I think this way works better given our current playbook organization, as host-groups are not per deployment but per project.

We can also do something in the middle which I prefer i.e. have a role for swarm, k8s, mesos and so on. And run them conditionally using ansible variables, something like this:

[code]

And the above playbook can now be run to bring up a Kubernetes cluster by doing somethi

[2015-12-20 01:23] jainvipin commented on #9
@mapuri - sgtm.
Instead of calling scheduler, let's call it 'stack == docker', or 'stack == k8s' or 'stack == mesos'. This might help for example moving the kv distribution to be 'etcd', 'zk', or 'consul', etc. based on the stack i.e. we may have to abstract out kv distribution as well here and can leverage the stack variable to steer the correct one for the stack

Also note that following will re

[2015-12-20 05:03] erikh commented on #9
I would really like to petition for us not making host groups
complicated; instead, we could use dependencies to manage a lot of these
things.

Swarm depends on docker, k8s depends on docker, marathon depends on
docker... We shouldn't need to include the docker role anywhere any of
the three of these are specified. That also goes for netplugin and
volplugin as well.

netplugin and volplugin each h

[2015-12-20 18:52] mapuri commented on #9
@jainvipin

sounds good

this should be ok as given our current organization, we will only have a few host groups (a few per project).

@erikh

+1. I would like dependencies defined between roles as well wherever possible, docker being the one of them.

Just trying to understand, were you wondering if ansible can conditionally run a role i.e. using `when` clause as I showed? I think it can from it

[2015-12-24 19:26] mapuri opened #11 "Proposal: reorganize/cleanup the base role"
**Background:**
At some point when we decided to use ansible for provisioning all our projects we started off with the ansible playbooks used by our packer builds. At that point `base` role was added to download and install multiple binaries. It was pretty much everything that packer builds were installing like baked in go, docker, etcd, ovs and so on.

**Fast Forward to requirements:**
Overtime a

[2016-01-05 22:27] mapuri opened #16 "install specific docker version"
The `docker` role should install a specific version of docker that we test our services against.

[2016-01-05 23:59] mapuri commented on #11
closed by #14

[2016-01-05 23:59] #11 closed

[2016-01-06 00:02] mapuri opened #18 "it will be nice to get time taken by each task"
This can help improving the playbook by identifying longer task

We can use something like this: https://github.com/jlafon/ansible-profile

[2016-01-06 00:11] mapuri opened #19 "ceph playbook should allow incremental addition of mons and osds"
moved from https://github.com/contiv/build/issues/22 as ansible repo is the right place for this.

+++++++++
right now the way ceph configuration is generated (as shown in the snippet from ansible/roles/ceph-common/templates/ceph.conf.j2 below) results in a dependency that all mons and osds hosts need to be configured together in single playbook run.

In a real cluster, we would need to allow incr

[2016-01-06 01:45] mapuri opened #20 "it should be possible to change cluster-manager config and restart the service"
Right now the cluster-manager is not passed the config flag as part of syetd unit setup, which makes it a bit hard to change it's configuration and restart. This issue tracks ansible change to setup a configuration file for cluster-manager that user can tweak, if needed.

The configuration talked here includes things like ansible playbook location, user credentials etc.

[2016-01-07 20:28] erjosito opened #21 "Deploying the playbooks will fail on CentOS 7 if docker already installed"
Running aci_demo_installer will fail if docker was previously installed in a centos7, either before running aci_demo_installer, or when running aci_demo_installer for the 2nd time.

I am running the installer as root in a CentOS7 bare metal server, got the error in the first work node, but after rerunning aci_demo_installer, I got it in the master node as well.

The workaround is uninstalling dock

[2016-01-07 20:47] erjosito opened #22 "aci_demo_installer will fail if bzip2 is not installed in the worker nodes (Centos7)"
Workaround: install bzip2 manually in the worker nodes

TASK: [contiv_network | install netmaster and netplugin] **********************
failed: [node2] => {"changed": true, "cmd": "tar vxjf /tmp/contivnet.tar.bz2", "delta": "0:00:00.007268", "end": "2016-01-07 08:08:07.476339", "rc": 2, "start": "2016-01-07 08:08:07.469071", "warnings": ["Consider using unarchive module rather than running tar"]}

[2016-01-07 22:30] mapuri commented on #21
@erjosito

There is no task named `remove older docker and etcd` in the master and it hasn't been there. Are you trying a private fork of this repo? If so you might want to report this issue there to get a resolution. From the error it appears the docker daemon is not being stopped before deleting docker specific files.

/cc @jainvipin @jojimt in case they are interested.

[2016-01-07 22:41] mapuri commented on #22
@erjosito thanks for reporting this. Looks like we are indeed missing a task to install bzip2, I shall be able to submit a patch for this in a bit.

But similar to #21 if you are using a private fork of this repo you might want to report the issue there as well to get a resolution specific to that fork.

/cc @jainvipin @jojimt

[2016-01-07 23:11] jainvipin commented on #22
@mapuri - we are in process of upstreaming the changes into ansible repo along the lines of @DivyaVavili's changes. I had requested @erjosito to track the issue here...

@erjosito: is it possible to provide the environment to reproduce this issue? Just docker pre-installed? and run the script? From the above it seems like download of netplugin binaries itself failed...

[2016-01-07 23:20] mapuri commented on #22
@jainvipin ah, thanks for clarifying !

The error `bzip2: Cannot exec: No such file or directory`  does appear to be bzip related as @erjosito has reported

[2016-01-07 23:22] jainvipin commented on #22
yes it seems some more folks tried around the workaround that @erjosito had tried; knowing that workaround will certainly help nail the issue...

[2016-01-09 01:57] mapuri opened #25 "organize tasks that differ in installtion of same things on different linux type"
where possible we should get the tasks organized as proposed here https://github.com/contiv/ansible/pull/23#issuecomment-170153670

[2016-01-10 17:56] #22 closed

[2016-01-11 23:57] DivyaVavili opened #26 "Docker role fails on task "start docker tcp socket service".. Failure reason: docker-tcp.socket fails: Socket service docker.service already active"
Docker role fails with the following message:
TASK: [docker | start docker tcp socket service] ******************************
failed: [node1] => {"failed": true}
msg: Job for docker-tcp.socket failed. See "systemctl status docker-tcp.socket" and "journalctl -xe" for details.

contivuser@server:~$ sudo systemctl status -ln100 docker-tcp.socket
● docker-tcp.socket - Docker Socket for the API
   Load

[2016-01-12 00:01] DivyaVavili opened #27 "contivctl installation fails in contiv_network role"
With golang no longer getting installed with base role, contiv_network role fails on "install contivctl" task

TASK: [contiv_network | install contivctl] ************************************
failed: [node1] => {"changed": true, "cmd": ". /etc/profile.d/00golang.sh && go get github.com/contiv/contivctl", "delta": "0:00:00.001944", "end": "2016-01-11 17:51:11.875943", "rc": 2, "start": "2016-01-11 1

[2016-01-12 00:08] mapuri commented on #26
@DivyaVavili

thanks for filing the issue, can you add some more details like:
- whether docker and swarm were already installed on setup (using different steps than our ansible?)
- docker and swarm versions if they were already installed
- the error in log indicates that a service is listening on port 2385, did you happen to check what service was that (may be we can use `netstat -atp`)?

[2016-01-12 00:16] mapuri commented on #26
actually, nm...I may be wrong... the error tells that docker is already running. So, we need to stop docker (if it's running) before installing tcp-socket service. I will try to reproduce locally.

[2016-01-12 02:04] mapuri commented on #27
discussed on slack it is desirable to have github release setup for contivctl and using a released version in ansible.

[2016-01-12 02:46] mapuri opened #28 "ansible installation fail in centos packer boxes with error: Error unpacking rpm package python-crypto-2.6.1-1.el7.centos.x86_64"
running the devtest host-group fails while running ansible install task with error: *Error unpacking rpm package python-crypto-2.6.1-1.el7.centos.x86_64*.

When I try `yum install ansible` on a vm created from the packer box, then I don't see this error.

+++++++
    build-virtualbox:
    build-virtualbox: TASK: [base | install ansible (redhat)] ***************************************
    build-vi

[2016-01-13 01:17] mapuri commented on #25
fixed by #24

[2016-01-13 01:17] #25 closed

[2016-01-13 17:20] #26 closed

[2016-01-14 07:50] dgouju opened #32 "ERROR! environment must be a dictionary, received env"
At the beginning of Ansible playbook run on master node:
TASK [base : ensure custom facts directory exists] *****************************
[DEPRECATION WARNING]: Using bare variables for environment is deprecated. Update your playbooks so that the environment value uses the full variable syntax ('{{foo}}'). This feature will be removed in a future release. Deprecation warnings can be disabled by se

[2016-01-14 07:54] dgouju opened #33 "systemd could not find the requested service etcd"
After Docker and etcd installation, we got the following error:
TASK [base : stop etcd] ********************************************************
fatal: [node1]: FAILED! => {"changed": false, "failed": true, "msg": "systemd could not find the requested service \"'etcd'\": « }

And we found that there is no service file in /etc/systemd/ or /lib/systemd .

Here is a proposed patch.
[main.txt](https:/

[2016-01-14 07:56] jainvipin commented on #33
thanks @dgouju !
We'll incorporate the fix... once the changes you tried our are merged in. If they were part of this repo, you could have submitted the PR itself.

[2016-01-14 07:58] jainvipin commented on #32
@dgouju - can you also tell the ansible version you are running? It will help the recreation and verification of this issue.

[2016-01-14 08:02] dgouju commented on #32
It is 2.0.0.1

[2016-01-14 08:05] jainvipin commented on #32
awesome, thanks @dgouju !

[2016-01-14 17:38] mapuri commented on #33
I think PR would not work (pass sanity) in this case as there is no task called `stop etcd` in the `base` role. We can leave this issue open until @DivyaVavili changes are posted as a PR.

[2016-01-14 17:39] #28 closed

[2016-01-14 17:39] #32 closed

[2016-01-14 20:15] mapuri opened #35 "use a better variable name than monitor_interface"
current ansible uses `monitor_interface` as a variable for the name of the linux interface to use for all control traffic like etcd, ceph-mon traffic.

It will be better to use a name like `control_interface` instead

[2016-01-14 22:19] #27 closed

[2016-01-14 22:38] mapuri opened #36 "etcd traffic may get dropped due to default iptable/firewalld rules on centos"
we need to install appropriate rules to allow etcd traffic something on lines of https://github.com/kubernetes/contrib/blob/master/ansible/roles/etcd/tasks/main.yml#L39-L43

[2016-01-14 23:06] mapuri opened #37 "`vagrant provision` fails on a centos box"
After doing `vagrant up` on the test vagrant box, subsequent `vagrant provision` fails with following error:

[code]

[2016-01-15 17:46] mapuri opened #38 "need cleanup tasks when a node is decommissioned from cluster"
This issue tracks identification and development of cleanup tasks that need to be executed when a node is decommissioned. A few tasks that I have in my mind are (not in any specific order of execution):

- remove the node from VIP advertisement [only master nodes]
- remove the node from etcd cluster [ only master nodes ]
- remove the node from swarm cluster [ master and worker nodes ]
- stop conti

[2016-01-20 01:03] #37 closed

[2016-01-20 07:24] DivyaVavili opened #42 "Need to bring in capabilities to reinstall/restart services"
Encountered many issues while trying to re-run playbook on a node because of older version or after change in environment variables. Need a mechanism to identify if the services running on a node are of older version/older configuration and reinstall/restart the services as necessary.

[2016-01-20 08:02] jainvipin commented on #42
ping @erikh, @mapuri, @jojimt

I agree with @DivyaVavili - having a way to clean-up an be able to restart will come very handy when we are in a situation that is not-repairable.

We have a choice of doing this either with ansible or a non-ansible script, as in https://github.com/contiv/netplugin/scripts/python/cleanup.py, and startPlugin.py scripts do.

Advantages of doing it in ansible:
- consist

[2016-01-20 10:13] erikh commented on #42
Ansible should be used to configure the system, systemd should be used to manage the services.

More direct, the python script needs to go.

[2016-01-20 18:48] mapuri commented on #42
In general, I agree that ansible can be used to configure and cleanup services with each role/specific cleanup taken care within that scope.

I am tracking the cleanup of services with #38 . I am hoping to setup/organize our roles to perform  respective cleanups with this change.

I am targeting a production use case though i.e. a node is commissioned to start up services correclty and a node is d

[2016-01-20 18:54] erikh commented on #42
Sure; not suggesting it needs to happen overnight, but we should have a strategy to get rid of these ad-hoc tools that aren't resilient. The tool, which I have used before, is not very respecting of errors nor does it handle input correctly. Ansible will. That was the meat of my comment.

[2016-01-20 19:22] mapuri commented on #42
great. I think I am on same page here then. Hopefully I will have something to show and try out soon for you folks.

[2016-01-20 20:09] mapuri commented on #35
fixed by #40

[2016-01-20 20:09] #35 closed

[2016-01-21 07:29] DivyaVavili opened #43 "Increase log limit for services"
Logs for services launched via systemd unit are getting rolled over and important information might be lost. Some of the options to alleviate this could be to increase the log space for all the services started Provide an option to increase the logs per service as required.

[2016-01-22 18:50] DivyaVavili opened #45 "Add versioning to pull aci-gw container"
When pulling aci-gw container, check for a particular version to pull.

[2016-01-22 22:00] #38 closed

[2016-01-25 23:56] acusworth opened #47 "Local State of Contiv Ansible Thinks etcd running"
After rebooting a cluster of Contiv VMs the netmaster and etcd services wouldn't come back up.
Reboot occurred after increasing the VM's number of cores from 1 to 2 and increasing the memory from 1G to 8G.
Attempted to restart contiv with the "startPlugin.py" script and after attempted to reinstall the whole package with "net_demo_installer". After running script checked status of the etcd and net

[2016-01-26 00:51] mapuri commented on #47
@acusworth

Thanks for reporting the issue. Can you please share the output of following commands from the VMs?

[code]

Also as a recovery step can you try the following (on all nodes):
- sudo systemctl stop etcd
- rm -rf /var/tmp/etcd.existing

And the then start etcd on all nodes (once above steps are done everywhere):
- sudo systemctl start etcd

I am speculating that `/var/tmp/etcd.existing`

[2016-01-26 00:55] jainvipin commented on #47
@mapuri:

[code]

`sudo systemctl restart etcd` doesn't work, but removing the /var/tmp/etcd.existing file worked followed by a restart. Indeed @mapuri persistence of /var/tmp/etcd.existing is the issue from the etcd.sh script.

Recovering using the above operations worked fine. However with this code I am guessing that reboot of a node wouldn't work, if you try this on one single VM with a reboot

[2016-01-26 01:03] mapuri commented on #47
@jainvipin

great thanks for confirming. We can perhaps create the  `/var/tmp/etcd.existing` file in tmpfs as part of fix for this condition.

Yeah, that is correct. We generate this script in ansible. So it is indeed static and will not work for more complex scenario like single node reboots. For that we will need a higher level cluster management that could handle node health changes more dynami

[2016-01-26 01:30] jainvipin commented on #47
Agree. something that doesn't persist reboots at least.

Would you know, if etcd were to fail for some reason (say it crashed, etc.), then it should ideally get restarted (by systemctl), but would that restart fail because of the same issue?

[2016-01-26 01:35] mapuri commented on #47
no, systemctl won't automatically restart etcd as we don't set Restart policy for it today.

But if etcd is manually started/restarted without the node reload then it should work. I think we exercise this in volplugin tests.

[2016-01-28 18:15] mapuri commented on #42
#44 addresses the service cleanup. Let's track missing items through separate issues

[2016-01-28 18:15] #42 closed

[2016-01-28 18:17] mapuri commented on #33
@DivyaVavili @dgouju , do you think this can be closed now? Is it addressed in the new netplugin installer?

[2016-01-28 18:19] mapuri commented on #21
@DivyaVavili @erjosito , do you think this can be closed now? Is it addressed in the new netplugin installer?

[2016-01-28 19:24] erjosito commented on #21
Sure

[2016-01-28 19:24] #21 closed

[2016-01-28 19:33] dvavili commented on #33
@mapuri : Lets wait until it's tested with the cleanup tasks after all the ansible changes for the installer is in. Will update the status after that.

[2016-01-28 19:37] mapuri commented on #33
@DivyaVavili sounds good, thanks.

[2016-01-29 18:31] #47 closed

[2016-01-29 20:45] DivyaVavili opened #55 "New versions of binaries not downloaded and replaced"
This issue is seen for tasks where we download binary releases and install them on the server nodes.

Example scenario:
Netplugin/netmaster binaries are downloaded from released version and installed on server-nodes
If we were to re-run the ansible playbook after running cleanup.yml playbook and then site.yml with a new release version, the new version is not downloaded and installed

Workaround:

[2016-01-29 23:57] dvavili commented on #33
@mapuri : Checked it with the latest ansible changes with additional etcd cleanup changes and don't see this issue after running cleanup.yml. Please feel free to close this.

[2016-01-30 00:02] mapuri commented on #33
@DivyaVavili thanks for confirming. Closing this.

[2016-01-30 00:02] #33 closed

[2016-02-02 23:50] mapuri opened #58 "add vagrant user to docker group"
As part of `vagrant` role we should also add the vagrant user to docker group. This shall avoid needing to specify `sudo` for docker commands on vagrant machines

[2016-02-03 20:30] abhinandanpb opened #59 "eth1 is being used as control interface always and "docker start" fails when ansible playbook is run"
I am seeing this issue when i run net_installer_demo script. The cfg.yml contains the following

[code]

**Ansible output:**

[code]

**journal-xe output**

[code]

[2016-02-03 23:43] mapuri opened #60 "cleanup netplugin related files/binaries before installing it"
In older installation logic for netplugin we used to extract files directly to `usr/bin` but we have now moved to using links instead as part of #52

This causes a failure if ansible is run on a host configured using old ansible.

[2016-02-04 00:20] mapuri opened #61 "use defaults for storing role defaults"
right now we have a mix of two ways for storing roles variables viz. `vars` dir and `defaults` dir. It would be nice to make this consistent.

Moving to `defaults` seems reasonable as these variables hold least precedence wrt inventory variables and variable passed from command line allowing us to override these easily in our code that depends on these variables.

[2016-02-04 19:53] mapuri commented on #2
this is addressed by #41

[2016-02-04 19:53] #2 closed

[2016-02-04 22:40] abhi commented on #59
@mapuri i have a fix which i used to move forward with the issue. do you want to check it out before @vijayvikrant goes ahead working on this.

[2016-02-04 22:56] mapuri commented on #59
@abhinandanpb go for it, I didn't know you had a fix. I will assign this to you.

[2016-02-05 18:11] abhinandanpb opened #66 "docker version not updated if a previous version exists"
While running the net_demo_installer i saw that the docker version was not updated on the bare metal server.
The docker version on the baremetal was

ladmin@contiv146:~/src/github.com/contiv/demo/net$ docker version
Client:
Version:      1.9.0-dev
API version:  1.21
Go version:   go1.4.2
Git commit:   02ae137
Built:        Fri Sep 25 17:37:00 UTC 2015
OS/Arch:      linux/amd64
Experimental: true

[2016-02-05 22:58] DivyaVavili opened #67 "Swarm running as master on more than one node causes issues"
Currently when more than one node is provisioned with swarm running as master, swarm doesn't work as expected. We need a mechanism to run it as master on only one node.

Currently, we are seeing this issue when netplugin-node hostgroup is used.

[2016-02-05 22:58] dvavili commented on #67
/cc @shaleman who noticed this issue

[2016-02-06 05:37] #58 closed

[2016-02-09 20:33] jojimt commented on #55
This is basically a show stopper for people trying to demo. What is our plan to fix this?
In addition to fixing this, we also need a way to specify the release version for an install/restart.

[2016-02-09 20:38] jainvipin commented on #55
Yes, saw this myself... nothing gets overwritten. Basically upgrade is completely busted.
ping @erikh - what is the typical recommendation to help with upgrades in ansible.

[2016-02-09 20:55] dvavili commented on #55
One of the ways that I've been getting around these kind of issues is to skip some of the optimizations that are in place when binaries/service files are copied.

For eg:
For copying the binaries, the common approach we take is to use the shell module and unzip it to the proper location. An optimization here is to use the "creates" clause which skips the task if the file is already present. But in

[2016-02-09 22:05] jojimt commented on #55
Yes, you should be able to take in an env variable and change the behavior based on that.

[2016-02-10 22:15] dvavili commented on #66
This should be fixed by #73

[2016-02-10 22:17] dvavili commented on #16
@mapuri: Recently worked on this for a requirement. Should be fixed by #73.

[2016-02-12 22:18] erikh commented on #55
most CM resources for downloading have an md5/sha you can compare to. we can do that and download/update as necessary with variables and notifications by passing the state on to the next steps appropriately to upgrade/install the tools.

http://docs.ansible.com/ansible/get_url_module.html will explain how to do it, under `sha256sum`.

[2016-02-12 22:21] erikh commented on #55
sorry; `checksum` is the new school in ansible, not `sha256sum`.

[2016-02-15 18:28] mapuri commented on #16
thanks @DivyaVavili , yes #73 shall address this this one.

[2016-02-15 18:28] #16 closed

[2016-02-15 18:33] mapuri commented on #55
I think the upgrade issue is related to the following causes:
- the downloaded file names for contiv-network (and other binaries) is not tied to a version. If we embed the version in the downloaded file name then upgrades shall work fine.
- The extraction shell script usually checks for file to exist, I think we can replace that with a conditional that checks whether a new tar file was downloaded

[2016-02-16 22:34] mapuri commented on #59
fixed by #70

[2016-02-16 22:34] #59 closed

[2016-02-17 01:11] #67 closed

[2016-02-17 09:54] vvb opened #78 "start docker tcp socket service task errors on subsequent ansible runs."
It works only the first time ansible is run and errors out every other time.

to reproduce - checkout ansible repo - vagrant up; vagrant provision

[code]

[2016-02-17 10:44] vvb commented on #78
just realised the #77 will fix this. closing it.

[2016-02-17 10:44] #78 closed

[2016-02-17 17:16] #55 closed

[2016-02-17 17:16] #60 closed

[2016-02-17 17:16] #61 closed

[2016-02-17 18:32] vvb opened #79 "ucp | create a local fetch directory if it doesn't exist - errors out."
When scheduler_provider = "ucp-swarm", the following error is seen

[code]

[2016-02-17 19:15] vvb opened #81 "wait for ucp files to be created times out.."
when scheduler_provider = "ucp-swam"
This timeout is seen on many runs.
[code]

[2016-02-18 17:22] #18 closed

[2016-02-18 19:13] vvb commented on #79
with ansible 2.0, the error msg is clearer..

[code]

[2016-02-18 19:46] vvb opened #86 "start docker tcp socket service fails on subsequent tries."
steps:

In contiv/cluster repo,
`make demo`
`vagrant provision`

[code]

logs:
[code]

[2016-02-19 18:53] mapuri opened #87 "add tasks to validate some of the environment and fail"
we should possibly add a few checks that can help fail early. Some of the checks are:
- [ ] ansible version 2.0
- [ ] control_interface if defined should exist
- [ ] netplugin_if if defined should exist

Anything else??

[2016-02-19 18:56] mapuri commented on #66
@abhinandanpb can you check if this addressed your issue? or we can close this now and open a different issue if it is not reproducible now.

[2016-02-19 18:58] mapuri opened #88 "ucp/swarm replica needs to be set for HA"
we need to set `--replica` and `--replication` flags respectively on master nodes for ucp and swarm respectively for a HA cluster.

[2016-02-19 19:25] mapuri opened #89 "fix contivctl task to extract the binaries if a new tar ball was downloaded"
right now the extraction task checks for binary to exist, but it should check for a new tarball to have been downloaded

[2016-02-19 19:50] mapuri opened #90 "cleanup tasks still refer to vars directory"
we have moved all the variable definitions to defaults but cleanup playbook is still picking up the etcd vars from vars directory which causes it to fail

[2016-02-20 00:31] #89 closed

[2016-02-20 00:31] #90 closed

[2016-02-20 01:55] vvb commented on #79
resolved by #80

[2016-02-20 01:55] #79 closed

[2016-02-23 02:04] mapuri opened #96 "support for Ubuntu16.04"
Our ansible has been tested on Ubuntu 15.04 for a while until we started seeing more failure and support issues due to it being no lts release. So we have disabled it from sanities in #94

This bug track bringing back Ubuntu testing using 16.04 once it is more readily supported by repos that we use viz. ansible, docker etc

[2016-02-23 19:03] mapuri opened #98 "ucp bootstrap node shall use node name instead of address"
this is tracking the comment https://github.com/contiv/ansible/pull/97#issuecomment-187837359 to make ucp logic behave identical to swarm as done in #97

[2016-02-23 19:04] mapuri commented on #66
closing this for no activity, let's open a separate issue if this is seen again.

[2016-02-23 19:04] #66 closed

[2016-02-23 19:14] vvb commented on #81
resolved by #93

[2016-02-23 19:14] #81 closed

[2016-02-23 19:14] vvb commented on #86
resolved by #93

[2016-02-23 19:14] #86 closed

[2016-02-23 19:15] vvb commented on #88
resolved for ucp. swarm HA is the pending bit

[2016-02-25 21:49] mapuri opened #102 "use devicemapper instead of overlayfs in docker role"
there is a bug with using overlayfs in docker, so we need to revert back to using devicemapper for now until this is resolved:

https://github.com/docker/docker/issues/16902

[2016-02-26 19:36] mapuri opened #103 "Install docker CS engine"
We need to install and validate the CS version of Docker Engine as described here:

https://docs.docker.com/docker-trusted-registry/install/install-csengine/

[2016-02-26 19:41] jainvipin commented on #103
@mapuri - in cases we may have to try the standard docker version... should we control this via a variable or some environment? All standard tryouts based on demo_installer would use off the shelf docker engine.

[2016-02-26 20:01] mapuri commented on #103
yes sure, we can control it through variable. Do you see this being deployment specific? I think CS engine is free too just that it might not be released as fast as Docker Engine.

Also we need to think what should be the default for us that we test and regress in our environments? I am just wondering if we would be adding a lot more combinations by having both engines.

[2016-02-26 20:07] jainvipin commented on #103
@mapuri - I think cluster repo should use CS engine; others standard i.e. default is get.docker.com

[2016-02-29 21:31] #88 closed

[2016-02-29 21:31] #98 closed

[2016-03-01 00:43] jojimt opened #107 "Need to address apt-get update failure"
apt-get update errors out on some hosts. The workaround to fix this is to clean up /var/lib/apt/lists.
We need to incorporate this into the ansible scripts to perform this clean up based on the error.

[2016-03-03 23:23] mapuri opened #110 "ip tables rules for serf's mdns discovery seem to be filling up INPUT chain"
tracking an issue that was recently noticed in volplugin where multipl iptable entries were installed for mDNS ports. The rule is installed as part of serf's service setup here https://github.com/contiv/ansible/blob/master/roles/serf/templates/serf.j2#L17

[code]

[2016-03-11 21:21] karamsivia opened #119 "etcd out of sync on hosts"
Setup - Non vagrant setup on 2 hosts using net_demo_installer script. Etcd config is out of sync on  hosts when I use control interface eth1 on host1 and control interface eth2 on host 2. etcd is unable to communicate.  To reproduce issue, use config  below
CONNECTION_INFO:
  <server1-ip-or-dns>:
    control: eth1
    data: eth2
  <server2-ip-or-dns>:
    control: eth2
    data: eth1

[2016-03-11 21:22] karamsivia commented on #119
CONNECTION_INFO:
192.168.2.10:
control: eth1
data: eth2
192.168.2.11:
control: eth2
data: eth1

[2016-03-11 22:35] mapuri commented on #119
@karamsivia

thanks for reporting the issue.

Just to understand the issue of `Etcd config is out of sync on hosts` a bit more, is the etcd service failing to start or is etcd cluster not getting formed ?

Can you share the following info:
- output of `sudo systemctl status -ln100 etcd` from both the hosts
- OS version of these hosts
- And for the steps to reproduce, does this happens on the first

[2016-03-13 00:35] #20 closed

[2016-03-13 01:01] mapuri opened #122 "prune the `base` packages to minimally needed set and move the rest to `dev` or other roles"
the base package installs multiple dev packages like git, gcc, perl etc which shouldn't be installed in production environment unless they are needed for running or installing the service itself

Following is the list in `base` role that we can most likely move to `dev` role:
    - ntp
    - vim
    - curl
    - git
    - mercurial
    - gcc
    - perl

[2016-03-13 01:04] jainvipin commented on #122
@mapuri - were these added for dev environment, and we may share the same base role?

[2016-03-13 01:05] mapuri commented on #122
I have no idea, they have there since day zero iirc :)

[2016-03-13 01:07] mapuri commented on #122
I thought having this issue open will at least help us track what we need to improve to make ansible production ready

[2016-03-14 15:59] karamsivia commented on #119
I am using ubuntu 15.04.  When I use eth1 as control interface on VM1 , and eth2 as as control interface on VM2 , and use net_demo_installer then etcd.sh is generated under /usr/bin.

 ETCD_INITIAL_CLUSTER section in etcd.sh on VM1 - gets IPs of eth1 of both VMS,
But
ETCD_INITIAL_CLUSTER section in etcd.sh on VM2 - gets IPs of eth2 of both VMS

and that was causing issue where etcd weren't able to

[2016-03-14 19:05] mapuri commented on #119
@karamsivia thanks for sharing the details. I think I understand the issue more now. It appears that the etcd service template picks up the interface name from the host ansible is running one when it should have picked it up from the facts of the other host. I will work on a fix. Thanks.

[2016-03-16 15:51] #122 closed

[2016-03-17 17:24] mapuri opened #127 "binary paths for services"
current ansible installs services in `/usr/bin`. This bug tracks to change their location to more recommended `/usr/local/bin` and `/usr/local/sbin` locations as appropriate

[2016-03-17 23:12] mapuri opened #128 "serf template needs a copule of fixes"
- the control interface name is hard coded in the command to start serf
- the serf binary needs to be picked from the path where serf is installed by ansible

[2016-03-17 23:14] mapuri opened #129 "docker role: 'check docker service state' task incorrectly fails when docker is not started"
`check docker service state` should set `ignore_errors` to true otherwise ansible can incorrectly fail under conditions where docker service is not running

[2016-03-17 23:16] mapuri opened #130 "ucarp role: when the vip interface get created it should not add a route to the the subnet through it"
this affects host's connectivity otherwise

[2016-03-18 17:17] #110 closed

[2016-03-18 17:34] mapuri commented on #36
fixed by #126

[2016-03-18 17:34] #36 closed

[2016-03-19 01:19] DivyaVavili opened #133 "Multiple netmaster host alias entries when run multiple times"
The task "setup netmaster host alias" adds multiple entries in /etc/hosts when ansible playbook is run multiple times.
The cleanup task could remove this or the entry shouldn't be added if already present.

[2016-03-22 16:34] #119 closed

[2016-03-22 16:34] #128 closed

[2016-03-22 16:34] #130 closed

[2016-03-22 18:15] mapuri commented on #102
fixed by #131

[2016-03-22 18:15] #102 closed

[2016-03-22 18:15] mapuri commented on #129
fixed by #131

[2016-03-22 18:15] #129 closed

[2016-03-22 21:16] rkharya opened #135 "Node status is 'Allocated' though it remains isolated from cluster"
9 node scale cluster. One node status allocated but fails to join cluster -

},
    "contiv-aci-scale-6-FCH1924V2F6": {
        "name": "contiv-aci-scale-6-FCH1924V2F6",
        "status": "Allocated",
        "prev-status": "Incomplete",
        "state": "Discovered",
        "prev-state": "Unknown"
    },

[admin@contiv-aci-scale-6 ~]$ sudo docker ps
CONTAINER ID        IMAGE               COMMAN

[2016-03-22 21:21] rkharya commented on #135
Restarting UCP services fixed the issue. We may want to debug, so as to why it went into failed state.

[2016-03-22 21:28] mapuri commented on #135
@rkharya

thanks for sharing ansible logs, that helped. The service had failed due to ucp license issue `Failed to add host to UCP: the system is unlicensed`

But I think you mentioned that UCP service shows up as running, is that still the case? From logs it looks like service has exited. If not I think we can close this issue.

I think for better tracking this behavior needs to be tracked in clu

[2016-03-22 21:31] rkharya commented on #135
Yes, closing the issue. I could have missed re-starting UCP on this node, after taking care of license.

[2016-03-22 21:31] #135 closed

[2016-03-23 00:53] mapuri opened #137 "serf agent should be run with explicitly node name"
serf picks up hostname by default which can conflict with other machines in a cluster, we should explicitly set node name when starting serf

[2016-03-23 14:57] jojimt opened #138 "swarm fails to start"
Seeing this issue consistently for the past couple of weeks:
Mar 22 08:42:09 openstack-01.muc.cisco.com swarm.sh[10755]: Error: failed to stop containers: [swarm-manager]
Mar 22 08:42:10 openstack-01.muc.cisco.com swarm.sh[10755]: Error response from daemon: no such id: swarm-manager
Mar 22 08:42:10 openstack-01.muc.cisco.com swarm.sh[10755]: Error: failed to remove containers: [swarm-manager]
Mar

[2016-03-23 15:48] mapuri commented on #138
@jojimt thanks for reporting the issue.

Can you please paste the complete service logs? These seems for for stopping the service, we will need the logs for service start.

[2016-03-23 15:53] erikh commented on #138
@jojimt not sure if this is related, but wanted to make a note of it; the containers on hosts with the tests being run on them will lose swarm because the they tear down all the containers...

[2016-03-23 18:03] #133 closed

[2016-03-23 18:03] #137 closed

[2016-03-23 19:02] jojimt commented on #138
@mapuri here is the complete log from another instance:

Mar 22 10:41:01 netmaster swarm.sh[3499]: starting swarm as master on node1[172.31.154.208]
Mar 22 10:41:01 netmaster swarm.sh[3499]: Error response from daemon: Could not find container for entity id 1f36313817055445447ad84f1f9ccc11173256db68dea65b0578a9b720217803
Mar 22 10:41:01 netmaster swarm.sh[3499]: Error response from daemon: Could n

[2016-03-23 19:08] jojimt commented on #138
Here is another one:
Mar 07 03:40:22 contiv-aci-server4.insieme.local systemd[1]: Started Swarm.
Mar 07 03:40:22 contiv-aci-server4.insieme.local systemd[1]: Starting Swarm...
Mar 07 03:40:22 contiv-aci-server4.insieme.local swarm.sh[21972]: starting swarm as master on node2[172.31.153.49]
Mar 07 03:40:22 contiv-aci-server4.insieme.local swarm.sh[21972]: Error response from daemon: Could not find

[2016-03-23 19:15] mapuri commented on #138
@jojimt
is this with `net_demo_installer` or even ansible/master in general is failing? Also is this only with Ubuntu?

The error seems to indicate that docker is failing the request. Can we get docker daemon logs as well around that time?

also this docker issue seems related: https://github.com/docker/docker/issues/17691

[2016-03-23 19:19] jojimt commented on #138
People are using this with net_demo_installer which invokes ansible. So far, I have seen this with centos -- haven't used/seen people use ubuntu recently. This issue started ever since we started running swarm as container. We need to fix this as everyone is encountering it now.

[2016-03-23 19:22] mapuri commented on #138
sure, can you please provide docker logs so we can debug this?

[2016-03-23 19:27] jojimt commented on #138
you can look at contiv-aci-server4 (look for log entries on Mar 07)

[2016-03-23 19:47] mapuri commented on #138
thanks, from docker logs it looks like docker was using overlayfs around that time, so still seems  related docker/docker#17691 which is fixed in 1.10

net_demo_installer will need to set `docker_version: 1.10.3` to move to new docker version. Can you please try?

[code]

[2016-03-23 22:52] jojimt opened #141 "ansible does not upgrade netplugin to the specified version"
If a version of netplugin is already installed and we try to upgrade by setting ```contiv_network_version``` variable, the new version does not get installed.

[2016-03-23 22:55] jojimt opened #142 "ansible does not start ntpd"
Even though ansible installs ntp, it does not correctly start the service. This causes time to be out of sync and leads to issues with etcd. We need to make sure we start the service from ansible.

[2016-03-24 00:04] mapuri commented on #142
very interesting, why would a distributed service like etcd depend on system time? It is bound to break, not saying we should not fix ntp though.

Just curious, is this etcd behavior documented? I would like to understand it a bit more.

[2016-03-25 00:11] mapuri commented on #141
@jojimt I just tried this out and seems to work.

Note that to upgrade a service we need to run cleanup first (i.e. `-r` flag in case of net_demo_installer). Can you reconfirm the steps to reproduce?

[2016-03-25 00:16] jojimt commented on #141
We faced this issue on an SE's setup yesterday. Set contiv_network_version to v0.1-03-16-2016.13-43-59.UTC and ran net_demo_installer -ar. After the install completed, netmaster version showed v0.1-02-27-2016.09-27-46.UTC.

[2016-03-25 15:52] mapuri commented on #141
hmm, may be the variable wasn't passed correctly to ansible.

Do you happen to have the changes made to installer to pass the version-variable?

[2016-03-25 15:52] #142 closed

[2016-03-25 15:53] mapuri opened #144 "make scheduling policy for swarm configurable through ansible variables"

[2016-03-25 15:54] mapuri opened #145 "need to add capability to start infra services with user provided certs"
a few services that can make use of this immediately are:
- [ ] docker
- [ ] swarm
- [ ] ucp
- [ ] etcd

[2016-03-25 16:09] mapuri opened #146 "the cluster-name passed to serf's config should be configurable"
this will help multiple serf clusters coexist

[2016-03-25 17:04] jojimt commented on #141
It was done over webex, so i don't have the diffs. We changed the default directly in ansible. If you tried it and it correctly upgrades from version a to version b, let's leave it at that for now.

[2016-03-25 17:31] mapuri commented on #141
ok, closing this for now as it doesn't look like ansible issue

[2016-03-25 17:31] #141 closed

[2016-03-30 17:04] mapuri commented on #138
just verified in a setup that setting `decoker_version: 1.10.3` fixes the issue. We need to set this version in net_demo_installer for Centos setups. Will open an issue there and close this one.

[2016-03-30 17:04] #138 closed

[2016-03-31 18:48] #146 closed

[2016-04-01 00:45] #144 closed

[2016-04-05 16:01] mapuri opened #154 "problem with dependence on download_result"
we use `download_result | changed` in a few installation tasks to only perfom installation when a binary was downloaded. This is mostly an optimization to avoid extraction of tars if a binary was not downloaded. However, it breaks the desired behavior in case of downgrades when a previous vinary might already exist and is not downloaded again. As a result `download_result | changed` evaluates to f

[2016-04-06 16:40] mapuri commented on #103
closing this issue as per @rkharya 's findings in https://github.com/contiv/cluster/issues/80#issuecomment-206343646 docker-cs version is simply installed by setting `docker_version` variable.

[2016-04-06 16:40] #103 closed

[2016-04-11 08:59] rkharya opened #156 "Need Ansible changes to include docker-cs version installation on cluster hosts"
While running following ansible playbook to install cluster manager on control node, simply including Docker CS version # through extra vars does not work. Docker installation task fails -

ansible-playbook -v --key-file=~/.ssh/id_rsa -i /etc/ansible/hosts ./site.yml -e '{"env":{},"control_interface": "enp2s0f0","validate_certs": "false","docker_version": "1.10.3.cs2"}'

This fails at the task -

[2016-04-11 16:39] #154 closed

[2016-04-18 03:32] danehans commented on #9
I suggest using the Kubernetes contrib/ansible project [1] to address this issue. Keep in mind that [1], and other k8s automation tools will be moving to [2].

Most contrib/ansible roles depend on one another. Therefore, k8s-specific roles can not individually be pulled from contrib/ansible into contiv/ansible without making considerable changes to the upstream project. Making the contrib/ansible

[2016-04-18 03:33] danehans commented on #9
/cc: @stephenrlouie @adamschaub

[2016-04-18 14:10] vvb opened #166 "Need to increase the number of max files that can be open."
current limits are too low and don't even allow to successfully launch 2k containers before netplugin,volplugin run out of fds

[2016-04-18 14:26] vvb commented on #166
[code]

[2016-04-18 16:29] mapuri commented on #166
@vvb

interesting issue, just curious how does container scale ties into FD limit in etcd? I hope we are not leaking FDs.

We can perhaps do something as [suggested here](https://sskaje.me/2015/06/debian-8-systemd-change-service-ulimit/) to setup ulimit for the systemd units.

[2016-04-18 17:38] vvb commented on #166
@mapuri I am trying to figure myself.. but there seems to be something for sure.. look at the results below.. `690752` is pid of etcd.. `compose.sh` launches 20 new containers. and the `fd` count for netplugin and etcd jump by about 40

[code]

all these are new ones

[code]

[2016-04-18 17:43] mapuri commented on #166
i see, thanks for checking @vvb .

What are these new fds, new tcp sockets? May be we are leaking etcd client connections.

[2016-04-18 20:22] vvb opened #167 "need to set iptables rules for ceph"
Ceph cluster does not come up correctly by default, unless iptables is stopped. Need to setup iptables as per, http://docs.ceph.com/docs/master/rados/configuration/network-config-ref/

ideally this should happen upstream in `ceph/ceph-ansible`. But filing an issue locally so that we track it here.

[2016-04-18 21:41] vvb commented on #166
The leaks seem to be between netplugin and etcd..

[code]

[code]

[code]

potential fix in https://github.com/contiv/netplugin/pull/325
need to be verified - MasterPostReq creates a newclient every time..and doesn’t seem to close it

[2016-04-18 21:55] mapuri commented on #166
awesome, thanks for digging in @vvb .

[2016-04-18 22:13] vvb commented on #167
checked with leseb, there is no plan to fix this upstream. they have added preventive checks when firewall is enabled to make sure playbooks fail if ports are not opened. This can be found at https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-common/tasks/checks/check_firewall.yml

our current plan is to implement adding iptables rules in contiv/ansible.

[2016-04-18 22:15] mapuri commented on #9
@danehans

thanks for looking into this.

`contiv/ansible` has a concept of `scheduler_stack` role that was designed to bring together the roles sufficient for bringing up a particular scheduler's components. The role is controlled by setting `scheduler_provider` variable and is used to bringup swarm or ucp based on user's deployment today (https://github.com/contiv/ansible/blob/master/roles/sched

[2016-04-21 06:55] yekaifeng commented on #166
The same happens in my test environment. The opening socket between neplugin and etcd is keep increasing when doing container creation and deletion.
The session number increased by 2 after create container, increase by 1 after delete container. The number stay the same even after one day.

[root@baymax-2 ~]# lsof -p 27857 |wc -l
148
[root@baymax-2 ~]# docker run -d --name centos-c8 --net vlan3096n

[2016-04-21 16:23] vvb opened #173 "permit/deny openvswitch_t type in selinux should run only when selinux is enabled"
permit/deny openvswitch_t type in selinux should run only when selinux is enabled

currently I see the below failure
[code]

when i execute is manually on the shell,
[code]

[2016-04-21 16:27] mapuri commented on #173
@vvb if it's easier to verify, can you verify that above issue goes away if you enable selinux on the box? Somehow the ansible's shell error doesn't match the error that you hit with manual command run. May be there is more, like we may need to set the ansible shell as well?

[2016-04-21 23:33] vvb commented on #173
@mapuri will update on this later today. I had modified my setup and ran into some issues

[2016-04-22 09:23] rkharya opened #175 "BM control node cluster manager install ansible task failures - install/upgrade base packages (redhat)"
Using RHEL 7.* stock OS on B-series for Contiv Cluster Manager. Installation failed on 'install/upgrade base packages (redhat)' task with below error -

TASK [base : install/upgrade base packages (redhat)] ***************************
Friday 22 April 2016  14:43:29 +0530 (0:00:05.772)       0:00:06.425 **********
failed: [Docker-1] => (item=[u'ntp', u'unzip', u'bzip2', u'curl', u'librbd1-devel', u'

[2016-04-22 10:40] rkharya commented on #175
Adding rhel-7-server-rhceph-1.3-osd-rpms repo for rbd library and installing it manually resolved the issue. We need to address this through ansible.

[2016-04-22 17:10] erikh commented on #175
That lib is no longer required, just remove it.

[2016-04-25 08:22] rkharya opened #176 "cluster-manager node commissioning ansible task should timeout gracefully"
While commissioning a node ansible task is stuck due to host level LVM issue. After reasonable time, this task should get timed out and node provisioing status should be dealt accordingly. Currently its waiting for more than 12 hours and still expecting, it can go through. Though at the node, all LVM commands are hanging...

Apr 24 22:53:35 Docker-1.cisco.com clusterm[8599]: level=info msg="TASK [

[2016-04-25 08:34] rkharya commented on #176
the node was stuck on pvcreate, because there was a DOS partition on the device, and it was hanging on for user input 'to wipe it or not'. So assuming this would resolve the original issue of node commissioning getting stuck. But we do have 2 issues here -

1) In case of any such error our node commissioning tasks should get error out gracefully after sufficient time allowance
2) We have to take c

[2016-04-25 16:24] mapuri commented on #176
cc @erikh to comment on `2)`, there might be non-interactive mode of pvcreate commands that fails gracefully.

@rkharya

Regarding `1)`, we can set ansible task timeouts but timeout based handling is always tricky as you never know how long a commands is going to take. I think a reasonable fix might be to address `2)` above, then give user an ability to check ansible-logs i.e. fix https://github.c

[2016-04-25 17:25] erikh commented on #176
Hm. If we can `-y` it somehow, great.

If not I'm not sure we should account for this problem. We could always wipe the block device with `dd` or the like, but that seems like something that has only a little benefit for this use-case specifically and may cause other trouble.

I'm torn on asking the user to ensure their environment is sane or correcting this for them with potentially dramatic cons

[2016-04-25 17:49] #175 closed

[2016-04-26 06:18] rkharya commented on #176
@mapuri
Yes. this approach is good to go.

@erikh
So i guess this should be a documented scenario - asking user to have a clean disk as a pre-req before ansible will take it for docker_device creation routine. Because he knows better which disk suppose to be used.
On a side note, this also sounds reasonable if he already has identified device for docker_device use, he is aware of, anything on it w

[2016-04-26 08:33] erikh commented on #176
either way SGTM, but it's a trade. I think doing it automatically for
them can cause great sadness if they get it wrong.

I don't have a preference.

On 25 Apr 2016, at 23:18, rkharya wrote:

[2016-04-28 17:34] danehans commented on #9
@mapuri sorry for the late reply. I've been swamped the last week+ getting ready for the OpenStack Design Summit. Try not to be jealous :-)

Thanks for sharing. I reviewed this role and we could drop in something like:
{ role: kubernetes, when: scheduler_provider == "kubernetes" }
{ role: masters, when: scheduler_provider == "kubernetes" }
{ role: nodes, when: scheduler_provider == "kubernetes" }

[2016-04-28 21:40] mapuri commented on #9
@danehans

hmm, may be I am missing something. My understanding was slightly different. I actually want all scheduler roles (supported by `contiv/ansible`) to depend on `contiv/ansible/roles/etcd` role kv-store setup. One way to do this would be say `contrib/ansible/roles/k8s/master` (a made up role) takes `etcd-client-url` and `etcd-client-port` as variables that we set correctly in `contiv/ansib

[2016-04-29 14:58] danehans commented on #9
IMO the best way to accomplish ^ is for the projects to share a common upstream for common ifra svc roles. For example both projects have their own way of realizing an etcd cluster. Comparing the etcd/defaults/main.yml across the two projects shows how wide the gap is between the two.

At this point, I think it might be best to discuss these details over a webex. To keep the continuity of the GH i

[2016-04-29 15:38] jojimt commented on #9
I don't see a justification for contiv taking over the etcd role. IMO, making it flexible enough so contiv can use it is the way to go and that's what we have done.

[2016-04-29 16:07] mapuri commented on #9
@danehans

sure, let's discuss over webex.

My point (that might have been missed in the details) is essentially that `contiv/ansible` and `contrib/ansible` are opinionated works around doing things that do have overlaps in certain places. We should only pick things from one project into other that are self-contained and independent.

[2016-05-02 06:19] danehans commented on #9
That's sensible. I will work on making the contrib ansible roles more self-contained and independent.

[2016-05-05 01:01] gaurav-dalvi commented on #173
@mapuri and @vvb :
I don't see this problem. I have two nodes (centos 7) with swarm setup.

TASK [contiv_network : permit openvswitch_t type in selinux] *******************
changed: [node2]
changed: [node1]

This is when I have selinux is disabled on both nodes:
admin@netmaster ansible]$ sestatus
SELinux status:                 enabled
SELinuxfs mount:                /sys/fs/selinux
SELinux root d

[2016-05-05 04:12] abhi commented on #173
@gaurav-dalvi @vvb I encountered this issue with folks trying to bring up contiv on ubuntu boxes. Since SELinux is not enabled in ubuntu (infact not installed and i couldnt enable selinux after installing on ubuntu) we might need to check if selinux is installed and if installed then if it is enabled. Had a short discussion with @mapuri as well . May be that will solve your issue as well @vvb ?

[2016-05-05 06:09] gaurav-dalvi commented on #173
@abhinandanpb : Yes. I had discussion with @mapuri  about this. I will put a fix tomorrow for this.

[2016-05-05 06:56] vvb commented on #173
@abhinandanpb @gaurav-dalvi yes, we should add the check to see if selinux is installed.

[2016-05-05 16:42] mapuri commented on #173
@gaurav-dalvi

thanks for digging into this.

Doesn't this mean selinux is enabled? I think the status line that you point out implies that the selinux policy is permissive. While you are at it do you mind trying with selinux status disabled? I think it will need [reboot of the vm](https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/6/html/Security-Enhanced_Linux/sect-Security-E

[2016-05-05 17:01] gaurav-dalvi commented on #173
@mapuri :  I see what are you saying now.
We need to fix this.

1: By default Selinux is in enforced mode when enabled.
2: When we do sudo setenfroce 0 : We basically set Selinux to permissive mode. But Selinux is still enabled.

3: When you edit /etc/selinux/config

 This file controls the state of SELinux on the system.
 SELINUX= can take one of these three values:
     enforcing - SELinux secur

[2016-05-05 23:46] vvb commented on #173
@mapuri @gaurav-dalvi so, yes I have verified that this issue occurs only when selinux is disabled.

@mapuri I re-created it again, and even though the error message doesn't clearly say that it is because of selinux being disable, that is what I am noticing. This error goes away after selinux is enabled.

[code]

[2016-05-06 00:15] vvb commented on #167
This is being addressed by #186

[2016-05-06 00:47] gaurav-dalvi commented on #173
@vvb : Excellent. Could you please try this fix in your local setup and check whether it works even if selinux is disabled.

https://github.com/contiv/ansible/pull/187

[2016-05-10 00:16] #167 closed

[2016-05-10 08:14] rkharya opened #189 "Node commissioning failing with ucp-fingerprint file waiting timeout"
UCP - 1.1.0
Docker - 1.11.0
Ansible/Cluster - Latest, clonned on 05/09

First node commissioning failing with below error -

May 10 12:42:02 Docker-1.cisco.com clusterm[15446]: level=info msg="failed: [Docker-2-FLM19379EUC] (item=ucp-fingerprint) => {\"elapsed\": 300, \"failed\": true, \"item\": \"ucp-fingerprint\", \"msg\": \"Timeout when waiting for file /tmp/ucp-fingerprint\"}"

On master node(

[2016-05-10 08:15] rkharya commented on #189
[clusterm-log-0510.txt](https://github.com/contiv/ansible/files/256682/clusterm-log-0510.txt)

[2016-05-10 08:23] rkharya commented on #189
current ansible/fetch directory is empty -

[cluster-admin@Docker-1 fetch]$ pwd
/home/cluster-admin/ansible/fetch
[cluster-admin@Docker-1 fetch]$ ls -ltr
total 0

Whereas older version of ansible/cluster-manager code base we do see fetch is populated with both ucp-fingerprint and ucp-instance-id -

[cluster-admin@contiv-aci-scale-1 ucp]$ pwd
/home/cluster-admin/ansible/fetch/ucp

[cluster-admin@co

[2016-05-10 16:59] mapuri commented on #189
Thanks @rkharya

I will look into this.

Can you also share the output of `journalctl -xu ucp` from `Docker-2` host?

[2016-05-11 06:28] rkharya commented on #189
[journalctl_ucp.txt](https://github.com/contiv/ansible/files/258681/journalctl_ucp.txt)

[2016-05-11 15:57] mapuri commented on #189
Looks like the ports that UCP used to use have changed in version 1.1, so we will need to update the defaults accordingly.

Following are the old values, you can override these in `globals` command for now to proceed.

[code]

[code]

[2016-05-11 16:18] mapuri commented on #173
fixed by #187

[2016-05-11 16:18] #173 closed

[2016-05-11 16:19] mapuri commented on #166
closing this assuming that https://github.com/contiv/netplugin/pull/325 has addressed this.

Please reopen in case that is not the case.

[2016-05-11 16:19] #166 closed

[2016-05-11 16:20] mapuri commented on #45
closing this as aci-gw image is published with just latest tag. Once we have version in aci-gw we can add that support to ansible.

[2016-05-11 16:20] #45 closed

[2016-05-11 16:22] mapuri commented on #107
closing this as Ubuntu support is not there and also it is not clear to me if this shall be handled inside or outside the ansible.

Let's track similar issues once we bring back Ubuntu support

[2016-05-11 16:22] #107 closed

[2016-05-12 12:05] erjosito opened #191 "rdo-release-kilo-1.noarch.rpm not reachable"
The /root/ansible/roles/contiv_network/tasks/ovs.yml task probably needs to be updated with https://repos.fedorapeople.org/repos/openstack/openstack-kilo/rdo-release-kilo-2.noarch.rpm.

Cheers,
Jose

[2016-05-12 15:57] mapuri commented on #191
fixed by #192

[2016-05-12 15:57] #191 closed

[2016-05-12 17:05] #189 closed

[2016-05-13 13:13] rkharya opened #193 "Node commissioning failing with playbook error - site.yml/cleanup.yml not found"
UCP - 1.1.0
Docker - 1.11.0
Ansible/Cluster - Latest, clonned on 05/13

While commissioning service-master host, commissioning task is failing with below error -

[cluster-admin@Docker-1 ansible]$ clusterctl node c Docker-2-FLM19379EUC --host-group=service-master

[cluster-admin@Docker-1 ansible]$ clusterctl job get active
FATA[0000] Request URL: info/job/active Request Body: <nil> Response status

[2016-05-13 13:20] rkharya commented on #193
[journalctl-clusterm.txt](https://github.com/contiv/ansible/files/263321/journalctl-clusterm.txt)

[2016-05-13 15:54] mapuri commented on #193
@rkharya the cluster config got changed as part of https://github.com/contiv/cluster/pull/132 .

The playbook location now needs to be specified as `playbook_location` instead of `playbook-location` in the config file. This was to make JSON consistent before hitting the first milestone for clusterm.

You can update the config file and restart clusterm and it shall work. Feel free to reopen or file

[2016-05-13 15:54] #193 closed

[2016-05-13 17:35] rkharya commented on #193
[cluster-admin@Docker-1 ansible]$ cat /etc/default/clusterm/clusterm.conf
{
    "ansible": {
        "playbook_location": "/home/cluster-admin/ansible/",
        "user": "cluster-admin",
        "priv_key_file": "/home/cluster-admin/.ssh/id_rsa"
    }
}

Its using 'playbook_location' only...

[2016-05-13 22:15] mapuri opened #195 "moving from old ovs repo to new one requires extra steps"
after the fix #194 the old setups that were setup using earlier ansible need following commands to be run (on all hosts where old ansible was run) before upgrading to new ansible otherwise ansible will fail.

Not sure if we can/need to address this is ansible atm, so for now documenting the symptoms and cleanup steps here:

[code]

Error/Symptom seen is:
[code]

I will close this bug in a week or

[2016-05-17 18:17] #156 closed

[2016-05-17 22:25] mapuri opened #198 "on clusterm install/update the config file get's overwritten"
this causes user's changes to be overwritten, it will be desirable to not overwrite the file if it exists

[2016-05-19 16:57] mapuri opened #201 "UCP root CA keeys need to be copied to replicas"
tracking this here based on recent email exchange with Uday from Docker team.

[code]

[2016-05-19 20:32] #198 closed

[2016-05-20 23:53] mapuri opened #204 "run ceph in containers"
this issue track bringing up ceph as containers

https://github.com/erikh/volplugin/blob/run-in-containers/build/scripts/run-docker.sh

[2016-05-20 23:54] mapuri opened #205 "run volplugin and friends in containers"
this issue tracks the requirement to run volplugin, volmaster and volsupervisor as containers

https://github.com/erikh/volplugin/blob/run-in-containers/build/scripts/run-docker.sh

[2016-05-20 23:55] mapuri opened #206 "run netplugin and netmaster in containers"
this issue track running netplugin and netmaster services in containers

[2016-05-22 23:50] angry-tony opened #207 "AnsibleUndefinedVariable: 'etcd_master_name' is undefined"
Hi. i'm new to contiv project.
I'm going to setup contiv using ansible. but i got the ansible's error..
some advice to me.. thanks..

ran command
[code]

error
[code]

[2016-05-22 23:58] jainvipin commented on #207
ping @mapuri, @erikh

[2016-05-23 00:21] angry-tony commented on #207
can i use like this??

[code]

[2016-05-23 00:51] vvb commented on #207
@angry-tony `etcd_master_name` is the hostname of the server running the `etcd`.
You need to defined a host-group "service-master" in /tmp/hosts and then, use the same hostname as `etcd_master_name`

There are a few more mandatory variables that need to be set up, they are explained at  https://github.com/contiv/cluster/blob/master/management/ansible_vars.md

recommended way of deploying a contiv

[2016-05-23 09:56] angry-tony commented on #207
@vvb

thanks your reply..
I got another error.. what is the "ansible_eth0"?? control_interface??
how to fix it?? help me...

[code]

[code]

error

[code]

[2016-05-23 10:41] vvb commented on #207
@angry-tony this is likely because you are using the wrong interface name as `control_if`. You need to find the host interface that corresponds to the IP mentioned in `/tmp/hosts` and use that as `control_if`. That should resolve this. use `ifconfig` or `ip a` on the hosts to drill down.

[2016-05-23 23:42] mapuri commented on #195
closing this now, as most setups seem to have stabilized wrt OVS.

[2016-05-23 23:42] #195 closed

[2016-05-24 02:28] angry-tony commented on #207
@vvb

thanks your info.

my solution is below..
I changed the site.yml file.

add

[code]

refer to below

[code]

[2016-05-24 03:27] vvb commented on #207
@angry-tony that does not seem right to me. You might just need to set the correct `control_if`

[2016-05-24 04:22] angry-tony commented on #207
@vvb I found out the hint to solve it in your vagrantfile.

ansible.limit = 'all'

[code]

it's work.. great.. :)

thank you. vvb.

[2016-05-24 18:48] mapuri commented on #207
@angry-tony

I am going to close this issue as looks like @vvb 's suggestion worked for you. Please feel free to reopen if that is not correct.

[2016-05-24 18:48] #207 closed

[2016-05-25 19:15] mapuri opened #208 "use the bash script based contivctl"

[2016-05-26 23:24] #208 closed

[2016-05-31 05:14] vvb opened #212 "Proposal for accommodating DTR changes in UCP 1.1.1"
UCP 1.1.1 tightly binds DTR with UCP. DTR uses UCP for certificates/Auth and runs as containers on UCP worker nodes. These are my initial thoughts on supporting it for contiv.

* The following link describes the number of nodes required for UCP + DTR HA:
    - https://docs.docker.com/docker-trusted-registry/high-availability/high-availability/

* The following link describes the various network an

[2016-05-31 08:51] rkharya commented on #212
- Regarding Storage to DTR replicas - If storage is local and not shared between the replicas, who takes care of image repo consistency? I do not see any reference to this on Docker DTR Storage configuration resources. We may need to get this clarified with Docker if we want to use local storage on C-series servers for DTR replicas.

[2016-05-31 09:21] vvb commented on #212
@rkharya From what I understand, the image repo consistency is left to the customer. Docker does not replicate images. The below points to using NFS or cloud storage for image repo HA.

[code]

[2016-05-31 16:44] mapuri commented on #212
@vvb , thanks for outlining this.

Before jumping to my comments on the proposal, I thought I will clarify my understanding on a few use-cases for setting up a DTR in the cluster:
- Is this DTR going to be used only for user container images or for storing infra service containers as well (like etcd, volplugin, netplugin etc)? I assume it is just the former. If so, is it fine for infra service ima

[2016-05-31 17:45] vvb commented on #212
@mapuri thanks for the comments.. all your assumptions seems correct to me.
The above proposal was based on uday mentioning that DTR should be on a separate node.

I will look into how do we carve out CPU separation with-in the same host. If this is done, then we would not need much change from existing design. Only unknown that I see is the performance. Do you remember the scenario, where time ta

[2016-06-01 14:30] pradvara opened #213 "etcd service is failing to start"
May 31 16:08:49 vm11 clusterm: level=info msg="TASK [ucp : download and install ucp images] ***********************************"
May 31 16:08:49 vm11 systemd: etcd.service holdoff time over, scheduling restart.
May 31 16:08:49 vm11 systemd: Started Etcd.
May 31 16:08:49 vm11 systemd: Starting Etcd...
May 31 16:08:49 vm11 etcd.sh: + case $1 in
May 31 16:08:49 vm11 etcd.sh: + '[' '!' -f /tmp/etcd.ex

[2016-06-01 14:31] vvb commented on #213
sure..

[2016-06-01 14:34] vvb commented on #213
@mapuri @pradvara I can think of a fix for this.. will submit a patch in some time..
root cause is really, that `docker run` fails(because of network issues) so the service fails, but we have created `/tmp/etcd.existing`. so, when you retry it will always error out.

[2016-06-01 14:43] vvb commented on #213
I haven't tested this patch yet, but I think this should work. essentially moving the creation of `/tmp/etcd.existing` to the bottom; after `docker run`. so if, `docker run` fails, `/tmp/etcd.existing` will not be created.

[code]

[2016-06-02 18:19] mapuri commented on #213
@vvb I think the above patch has similar limitation i.e. if etcd were to fail to start on first attempt then this will still go ahead  touch the file, right?

The latest ansible tries to mitigate this situation by also [checking for docker state](https://github.com/contiv/ansible/blob/master/roles/etcd/templates/etcd.j2#L132) before proceeding, and shall fix this particular issue too.

However it

[2016-06-03 18:24] vvb commented on #201
resolved by #216

[2016-06-03 18:24] #201 closed

[2016-06-03 18:27] mapuri opened #217 "potential UCP service restart issue"
I need to try this out but here is brief of potential issue I see with our UCP start/stop script.

We use `--fresh-install` flag for service start which will cause fingerprint, instance-id and certs to be regenerated (with different values) and might break the UCP running on other nodes.

`--fresh-install` was added in https://github.com/contiv/ansible/pull/190 based on suggestions to overcome som

[2016-06-03 19:35] vvb commented on #212
One more thing to consider is that both UCP and DTR have web UIs, that use 80/443 ports by default. so, if running DTR on the same node as UCP, it will need a different incoming port. Would a user be generally open to that? example, `https://dtr:9002`

[2016-06-03 19:44] vvb commented on #212
DTR also supports an `upgrade` command,
`docker/dtr install`
`docker/dtr upgrade`

We need to discuss the general guideline to handle the upgrade scenario, if a user has DTR version x installed and running, how do we go to DTR version x+1. A user can manually do that on every node. Putting it out here to discuss if this should be a functionality in clusterctl. More like maintenance mode, but witho

[2016-06-03 21:54] mapuri commented on #212
@vvb, these are good considerations. In general I like to think of what cluster-management offers i.e. does it take care of installing and managing infra services v/s do some and leave some? I think it is former, however where applicable we may need to support easier integration with services that user might need to bring in. And DTR seems to be one of those services.

wrt separate UIs specificall

[2016-06-07 16:54] mapuri opened #220 "create a host entry with node-name and control-ip for netmaster cluster formation"
this tracks a temporary fix to create a host-entry with node's hostname and control-address as part of `contiv_network` setup to work around https://github.com/contiv/netplugin/issues/275

[2016-06-07 16:56] mapuri commented on #213
closing this as #218 addresses the scenarios mentioned above.

[2016-06-07 16:56] #213 closed

[2016-06-08 16:42] #220 closed

[2016-06-09 08:55] vvb opened #223 "nfs - package installation required"
nfs role is included in the latest ansible, but the necessary packages are not getting installed.
[code]

[2016-06-14 04:08] vvb commented on #223
resolved by #225

[2016-06-14 04:08] #223 closed

[2016-06-20 09:38] erikh commented on #212
We could probably do something about that if the registry ran... on
contiv storage. :D

On 31 May 2016, at 2:21, Vikrant Balyan wrote:

[2016-06-28 23:09] mapuri opened #230 "setup iptables for clusterm api port"
this issue tracks addition of a task to setup the iptables for api port used by clusterm

[2016-06-30 04:20] pradvara opened #234 "Older version of docker-compose and docker in Cluster"
Cluster manager is getting installed with older versions of docker-compose and docker, which in turn is not supporting the version'2' of compose

[stack@contiv-b1 wordpress]$ docker-compose -f docker-compose.yml up
ERROR: In file './docker-compose.yml' service 'version' doesn't have any configuration options. All top l

[stack@contiv-b1 ~]$ docker --version
Docker version 1.9.1, build a34a1d5
[sta

[2016-06-30 21:13] #230 closed

[2016-06-30 21:13] #234 closed

[2016-07-04 16:16] pradvara commented on #234
Docker version is getting updated but compose version is still older one.

[stack@contiv-b2 ~]$ docker --version
Docker version 1.11.1, build 5604cbe
[stack@contiv-b2 ~]$ docker-compose --version
docker-compose version 1.8.0-rc1, build 9bf6bc6

@vvb Has submitted a new patch https://github.com/contiv/ansible/pull/236

[2016-07-12 23:55] erikh opened #244 "etcd stop/start causing problems"
https://gist.github.com/anonymous/d75f7ca2fd56e003dbb04c2f625d1059

[2016-07-13 10:01] vvb commented on #212
@mapuri @rkharya @jainvipin @erikh There are a few things that have changed since we discussed this last..

DTR can only be installed on a UCP worker node now. Docker
blocks installation of DTR on any UCP controller/replica nodes.

We will need to rethink the design now,

At present we make every `service-master` a UCP controller/replica. So only `service-worker` nodes are UCP worker nodes.
Having

[2016-07-13 16:30] mapuri commented on #212
@vvb, thanks for looking into this

hmm, this is interesting.  It certainly makes configuration harder. Do you know why this restriction? May be we are better off understanding if this is interim or permanent behavior from Docker's perspective as it sounds to go against the shared infrastructure philosophy.

can you explain a bit more,  `service-worker` nodes do run infra services, but just their

[2016-07-13 18:34] vvb commented on #212
This seems to be the way docker is going. I have seen the extensive debug logs to verify that they are indeed specifically keeping track of all the UCP controller/replica nodes and adding a constraint not to use them for DTR. There is a extra check now, which checks if the node is suitable for DTR installation. I am not sure if there were any internal reasons for docker to separate them physically

[2016-07-13 20:51] mapuri commented on #212
@vvb , thanks for clarifying.

I agree if we map DTR to master role, we could do what you mentioned here i.e. deal with selectively placing dtr and ucp.

Alternatively, reading through DTR installation (https://docs.docker.com/docker-trusted-registry/install/install-dtr/), looks like they don't have agent (or worker) mode for DTR i.e. it's just controller and replicas.

So may it will just be simp

[2016-07-14 09:42] vvb commented on #212
Yes only DTR Controller and replicas. No DTR agent.

So, from what I understand, we need to know the following -
1. Which `service-worker` node should be dtr_controller
2. Which `service-worker` nodes should be replicas.

So, we would need, one of the below..

(1) `is_dtr_controller` - boolean - will need to be set for first worker node to bring it as dtr_controller
     `is_dtr_replica` - boolean

[2016-07-14 17:04] mapuri commented on #212
@vvb , I think `1` and `2` are similar in a way that they both give a way to identify dtr controller and then dtr nodes among all workers. `2` is closer to what we do for UCP, so might be preferable for consistency between plays. `3` requires a dependency on etcd and logic to populate/maintain state there which might be a tad too over engineering for this imo :)

let's go with `2` ? may be we can

[2016-07-14 17:08] #244 closed

[2016-07-20 03:54] erikh opened #248 "Package mirror selection"
This should be an option in the ansible. I will attempt to provide this patch when I get time.

Additionally, most files fetched should be routable from a single source if an option is provided, e.g., golang or consul or anything else we don't install from system packages.

Having a local centos, ubuntu, and ceph package mirror will GREATLY improve CI. This option will also most likely allow most

[2016-07-20 21:52] mapuri opened #250 "check for packer binary conflicts in packer installtion task"
this issue tracks the concerns raised in discussed here: https://github.com/contiv/ansible/pull/249#issuecomment-234078549

[2016-07-21 03:17] angry-tony opened #251 "Question : how to integrate mantl and contiv"
Hi.. there..

I'm new to contiv and have testing it..

I have a question...
i want to use contiv(netplugin & volplugin) to control network & storage on mantl.
how to integrate mantl and contiv (netplugin and volplugin)??
is there ansible playbooks to install them on mantl??

[2016-07-21 17:19] mapuri commented on #251
@angry-tony

The ansible repo is a bunch of plays that can be used for following broad use-cases at the moment:
- configure contiv-network and storage (binaries and their dependencies) along with a scheduler (swarm or ucp) and a data-store (etcd) in a clustered environment (masters and workers).
  - This is mostly suited for bringing up a cluster of nodes from almost no configuration or packages.

[2016-07-25 22:18] gaurav-dalvi opened #253 "ansible script is not installing correct docker_version"
even if we set docker_version to 1.11.1 in net_demo_installer script, Ansible scripts are not installing that docker version whenever your swarm cluster is ready.

[2016-07-26 16:22] mapuri commented on #253
@gaurav-dalvi this is already tested in various places (like volplugin and cluster-mgr Vagrantfiles for instance). Can you please check if net_demo_installer is setting up the version in the way you want. I will try to reproduce as well.

[2016-07-26 16:24] mapuri commented on #253
looks like demo installer is set to pick 1.10.3 for Centos (https://github.com/contiv/demo/blob/master/net/net_demo_installer#L216)

[2016-07-26 17:23] gaurav-dalvi commented on #253
@mapuri : Thanks. I will fix it !

[2016-07-26 17:27] mapuri commented on #253
no worries, I will close this issue then.

[2016-07-26 17:27] #253 closed

[2016-07-26 18:58] apoorva11029 opened #256 "Restart failing on the secondary node in a baremetal swarm cluster"
Using:
sudo systemctl stop etcd
sudo systemctl start etcd
Error log:
● etcd.service - Etcd
   Loaded: loaded (/etc/systemd/system/etcd.service; static; vendor preset: disabled)
   Active: activating (auto-restart) (Result: exit-code) since Tue 2016-07-26 11:54:30 PDT; 275ms ago
  Process: 1107 ExecStop=/usr/bin/etcd.sh stop (code=exited, status=1/FAILURE)
  Process: 914 ExecStart=/usr/bin/etcd.sh

[2016-07-26 19:02] gaurav-dalvi commented on #256
This is happening when we have swarm cluster of 2 centos VMs and then during TestTriggerClusterStoreRestart this test we stop and start etcd on both nodes. We get this error especially on second node.

[2016-07-26 20:01] mapuri commented on #256
@apoorva11029 @gaurav-dalvi

please provide the outputs of `journalctl -u etcd` and `journalctl -u docker` from the affected node.

[2016-07-26 22:32] apoorva11029 commented on #256
PFA the two logs.

[docker_log.txt](https://github.com/contiv/ansible/files/384952/docker_log.txt)
[etcd_log.txt](https://github.com/contiv/ansible/files/384953/etcd_log.txt)

[2016-07-27 00:05] mapuri commented on #256
just debugged this with @apoorva11029 and @gaurav-dalvi .

Below are the findings and possible options:

@apoorva11029 @gaurav-dalvi , feel free to pick whichever option you would like to take and we can resolve this issue accordingly:

**Root cause:**
- etcd scripts use service-vip to simplify peer discovery (when a cluster dynamically grows and shrinks)
- however, net-demo-installer doesn't use

[2016-07-27 08:56] pradvara opened #258 "ansible-playbook not validating wrong control interface ID"
- Runb the ansible playbook with incorrect "control_interface".

- The anisble runs fine without throwing any error.

ansible-playbook --key-file=~/.ssh/id_rsa -i /tmp/hosts -e '{"env": {"http_proxy=http://proxy-wsa.esl.cisco.com:80","https_proxy": "http://proxy-wsa.esl.cisco.com:80"}, "validate_certs": "false", "control_interface": "enp1s"}' ./site.yml

[2016-07-27 16:19] mapuri commented on #258
thanks @pradvara.

Basically, we need some sort of validation checks that are run ahead of time (at least for the mandatory variables that we have). Let me see if I can work on adding something to address it this week.

We already have the issue #87 to track this, so I will close this one to avoid duplicates.

[2016-07-27 16:19] #258 closed

[2016-07-27 17:21] gaurav-dalvi commented on #256
Thanks @mapuri for detailed explanation.
I am more inclined towards Option 1 or 3. @shaleman : Any comments on this one ?

[2016-07-27 18:32] gaurav-dalvi commented on #256
@mapuri : We synced up with Sukhesh and Looks like going forward, we will be executing all systemtests on 3 node cluster. (Baremetal and Vagrant).

@apoorva11029 : Could you please verify this one Baremetal as well as Vagrant after that we can close this issue.

[2016-07-27 18:53] mapuri commented on #96
fixed by #249

[2016-07-27 18:53] #96 closed

[2016-08-08 16:34] vvb opened #259 "install ansible from epel-release instead of epel-testing"
epel-testing now has ansible version 2.1.1, which leads to the below error
[code]

we need to stick to ansible 2.1.0 which is not available in `epel-release`

[2016-08-10 23:48] #259 closed

[2016-08-10 23:50] mapuri commented on #256
closing this as I think `option 3` seems to be working fine for net-demo environments.

Feel free to re-open or create another issue if the problem still exists.

[2016-08-10 23:50] #256 closed

[2016-08-15 22:38] gaurav-dalvi opened #264 "epel-release repo is also installing ansible 2.1.1.0 now"
Reference issue : https://github.com/contiv/ansible/issues/259

epel-testing to epel-release repo transition wont work now.  ansible 2.1.1.1 version gets installed and then our ansible scripts will fail because of this error :

[code]

[2016-08-17 22:34] gaurav-dalvi commented on #264
Current workaround. (for Centos)
1: Remove current ansible
`sudo yum remove ansible`

2: Install ansible 2.1.0

[code]

[2016-08-17 22:35] erikh commented on #264
Just delete the repo reference in `/etc/yum/repos.d` or whatever that dir is. should be called `epel-testing.repo` so you can `find` for that to remove.

[2016-08-17 22:39] gaurav-dalvi commented on #264
Moving this to appropriate repo contiv/demo.
Hence closing this one.

[2016-08-17 22:48] erikh commented on #264
This an ansible problem….

/cc @mapuri

On 17 Aug 2016, at 15:39, Gaurav Dalvi wrote:

[2016-08-17 23:20] mapuri commented on #264
@gaurav-dalvi

mixing `pip` with `yum` can mess up package management in unknown ways ( https://github.com/contiv/ansible/issues/37), so the work-around using pip might not be a good option.

Let's keep this open to track the desired fix needed in this repo.

[2016-08-18 07:00] pradvara opened #265 "Service VIP interface is not getting removed after decommissioning all the nodes in ACI setup"
[stack@aci-rack1 ~]$  clusterctl nodes get | grep " status"
aci-rack1-FCH1726V18M:    status: Decommissioned
aci-rack2-FCH1752V081:    status: Decommissioned
aci-rack3-FCH1652V1R5:    status: Decommissioned
aci-rack4-FCH1849V1S5:    status: Decommissioned
aci-rack5-FCH1752V087:    status: Decommissioned

503: enp1s0f0_0: <BROADCAST,NOARP,UP,LOWER_UP> mtu 1500 qdisc noqueue state UNKNOWN
    link/e

[2016-08-18 18:44] mapuri commented on #265
@pradvara thanks for reporting this

this is related to #264 , basically with ansible 2.1.1.0 the cleanup tasks are not running correctly so the state get's leftover. I will close this and we can track the fix through #264

[2016-08-18 18:44] #265 closed

[2016-08-18 21:16] mapuri opened #266 "re-organize/-design iptable setup/cleanup tasks"
This issue tracks the discussion here: https://github.com/contiv/ansible/pull/262#discussion_r75221876

[2016-08-18 21:19] #9 closed

[2016-08-19 15:57] #264 closed

[2016-08-30 18:55] mapuri commented on #205
@vvb , now that volplugin 0.3.0 works in containers (thanks to you!!) , would you like to work on this?

Ansible still installs volplugin 0.2.0. As 0.3.0 also brings in the service name change, I feel all this can be done with service changes for running it in container.

[2016-08-30 18:57] vvb commented on #205
@mapuri sure. assigning it to myself.

[2016-08-30 18:59] mapuri commented on #205
thanks @vvb !!

[2016-10-29 16:13] angry-tony opened #274 "Error : not start "volmaster & volplugin""
iam new to volplugin..
im trying to install volplugin with your ansible but i can't with error below.

this is the error messages.
- /usr/bin/volmaster: No such file or directory
- systemd: volplugin.service failed.

[code]

[2016-10-29 19:12] erikh commented on #274
hi; volplugin is going away, sorry. it's being folded into another cisco product.

[2016-10-30 07:58] angry-tony commented on #274
@erikh   Hi!!.. Oh... it's bed that i hear..  is it not opensource anymore??

[2016-11-08 00:56] erikh opened #277 "Bake k8s environment into ansible"
This will fully encapsulate everything required to run netplugin with k8s so we can have a `make demo` like environment with it.

A list of concerns ( @abhinandanpb, can you edit this? )

* [ ] certificate generation / bootstrap at machine provision time

[2016-11-29 19:10] gaurav-dalvi opened #278 "Current ansible is breaking for baremetal swarm functionality"
This PR : https://github.com/contiv/ansible/pull/275 broke current swarm installation functionality.
service_vip is not getting value and netmaster is not coming up properly.

[2016-11-29 19:13] gaurav-dalvi commented on #278
@erikh : Could you please take a look at this one ?

[2016-11-29 19:17] erikh commented on #278
yes

[2016-12-01 21:39] erikh opened #279 "integrate jojimt/contrib"
* Identify roles that need to be subtreed (@jojimt can you comment on what these should be so we can get started more easily?)
* Write a small bit of tooling to use `git subtree` (or similar) to vendor in these changes, or write a patchset from the original contrib repo.
* author any glue that needs to happen between contiv/ansible and these vendored contents.

cc @neelimamukiri @gaurav-dalvi

[2016-12-01 22:18] erikh opened #280 "Add consul support to netplugin/netmaster"
https://github.com/contiv/ansible/tree/master/roles/contiv_network/templates is probably where you need to start looking.

Be sure to employ defaults. they live in `roles/contiv_network/defaults`. Use them and set them to sane defaults. They are very important to the overall UX of our ansible.

What likely needs to happen is that you need a way to generate the URL of the consul *and* etcd endpoint

[2016-12-07 21:57] gaurav-dalvi opened #283 "Delete entires which we are adding at /etc/hosts as a cleanup flow"
https://github.com/contiv/ansible/blob/790e702381d615749b5154a051648a3a65200070/roles/contiv_network/tasks/main.yml#L79

We need to remove this in cleanup task

[2016-12-07 22:25] gaurav-dalvi commented on #283
Not seeing anymore. Closing it !

[2016-12-07 22:25] #283 closed

[2016-12-09 20:18] gaurav-dalvi opened #284 "Support for ansible scripts to install stuff on RHEL 7.x"

[2016-12-09 23:36] gaurav-dalvi opened #285 "ansible is not able to install etcd on Redhat 7.x"
https://github.com/contiv/netplugin/issues/656

[2016-12-14 23:50] gaurav-dalvi commented on #278
Closing. It was fixed because of fixing ansible 2.2.0 and not using previous versions.

[2016-12-14 23:50] #278 closed

[2016-12-14 23:51] gaurav-dalvi commented on #277
Closing it !

[2016-12-14 23:51] #277 closed

[2016-12-19 23:40] gaurav-dalvi opened #286 "remove / disable skyDNS container in ansible"
related to this PR : https://github.com/contiv/netplugin/pull/660

So now we have inline DNS functionality. Let us remove skydns from our ansible.

[2016-12-21 23:21] #285 closed

[2016-12-21 23:21] gaurav-dalvi commented on #284
related issue : https://github.com/contiv/netplugin/issues/656

[2017-01-04 00:46] gaurav-dalvi opened #289 "ansible error , installing docker swarm + contiv in ACI mode"
On one of the setups given by sales engineer , we are getting this.
Using latest contiv version.
ansible 2.2.0.0
centos 7

[code]

[2017-01-06 19:45] #286 closed

[2017-01-06 20:20] DivyaVavili opened #292 "Investigate dynamic loading of task inclusion at all places"
With Ansible 2.0 inclusion of tasks has been made static by default. This might affect the way variables and directives are inherited by included tasks. Investigate the effect and make changes accordingly.

[2017-01-09 19:34] unclejack opened #295 "Install golang using ansible on nodes."
The GOPATH and the environment need to be set up as well. This should also be available for installation outside of the dev role.

[2017-01-09 19:36] gaurav-dalvi opened #296 "install golang using ansible scripts"
1: Install golang on only master node. (version of golang should be configurable)
2: set following environment variables:

[code]

[2017-01-09 19:39] gaurav-dalvi commented on #295
1: Install golang on only master node. (version of golang should be configurable)
2: set following environment variables:

export PATH=$PATH:/usr/local/go/bin
export GOPATH=/home/admin
export GOBIN=$GOPATH/bin
export PATH=$PATH:$GOBIN

[2017-01-09 19:39] gaurav-dalvi commented on #295
Dup of https://github.com/contiv/ansible/issues/293

[2017-01-09 19:39] #296 closed

[2017-01-10 19:14] gaurav-dalvi commented on #289
Not seeing now. will reopen once i see this issue again !

[2017-01-10 19:14] #289 closed

[2017-01-10 21:46] neelimamukiri opened #299 "Make all the parameters of netplugin & netmaster configurable through the ansible scripts"
Currently there are many options to netplugin & netmaster.
See
https://github.com/contiv/netplugin/blob/master/netplugin/netd.go
https://github.com/contiv/netplugin/blob/master/netmaster/main.go

We need a way to specify them using the ansible role.
Some args are already being provided https://github.com/contiv/ansible/blob/master/roles/contiv_network/templates/netplugin.j2 and https://github.com/

[2017-01-12 02:09] DivyaVavili opened #301 "Update docker role to incorporate new changes for docker 1.12"
With docker 1.12, docker.service removes the requires of requiring docker.socket. Update ansible scripts to handle this.

[2017-01-12 02:10] dvavili commented on #301
References:
https://github.com/docker/docker/issues/25559
https://github.com/docker/docker/pull/25094

[2017-01-12 17:53] unclejack commented on #301
This is easy to fix to make it work with Docker 1.12. The Docker role needs to maintain compatibility with Docker 1.11.

I'll asign this to myself. I've run into this issue when I was trying to bump the Docker version to 1.12 in ansbile a few days ago.

[2017-01-13 23:37] gaurav-dalvi opened #304 "start contiv related services on reboot"
Contiv related services I can think of
1: netplugin
2: netmaster
3: etcd
4: docker
5: swarm containers
(in the scope of swarm + contiv setup)

Current ansible scripts start them as systemd services. I tried adding
[code]
ref:
http://docs.ansible.com/ansible/service_module.html

https://github.com/contiv/ansible/blob/master/roles/etcd/tasks/main.yml#L43

But its not working.

[2017-01-13 23:48] gaurav-dalvi opened #305 "setting up docker to take private registry"
http://www.informit.com/articles/article.aspx?p=2464012

At step 6 in above,

How can do it better to start docker engine (give a separate option in ansible playbook) so that it can talk to private registry if we have setup something.

All other steps can be done on separate VM and only step 6 and step 3 can be done on all provisioned machines / VMs .

Is it possible to do this change in our ansib

[2017-01-16 07:41] shaitmm opened #306 "not able to see contiv network under "docker network ls""
Dear all experts,

i have setup a 1 master 2 nodes env, all of them has 2 nic(mgt+contiv_control) +nic(contiv_network).

After installation, i encountered below issue. Pls enlighten me for the solution.

[root@k8master ~]# netctl network ls
Tenant   Network      Nw Type  Encap type  Packet tag  Subnet       Gateway  IPv6Subnet  IPv6Gateway
------   -------      -------  ----------  ----------  ---

[2017-01-16 07:45] gaurav-dalvi commented on #306
@shaitmm : we already know this issue.
https://github.com/contiv/netplugin/issues/691 . We will resolve it soon !

[2017-01-16 07:54] shaitmm commented on #306
@gaurav-dalvi so, can i just upgrade docker to 1.12.6?

below is my current docker info:
[root@k8master ~]# docker info
Containers: 1
 Running: 1
 Paused: 0
 Stopped: 0
Images: 3
Server Version: 1.10.3
Storage Driver: devicemapper
 Pool Name: docker-253:0-201663876-pool
 Pool Blocksize: 65.54 kB
 Base Device Size: 10.74 GB
 Backing Filesystem: xfs
 Data file: /dev/loop0
 Metadata file: /dev/loop1

[2017-01-17 04:04] shaitmm commented on #306
Dear experts,

i tried to upgrade docker on ctl node to 1.12.6 but the issue still exists.
pls enlighten me for any workaround.

[root@k8master ~]# netctl network ls
Tenant   Network      Nw Type  Encap type  Packet tag  Subnet       Gateway   IPv6Subnet  IPv6Gateway
------   -------      -------  ----------  ----------  -------      ------    ----------  -----------
default  default-net  data

[2017-01-17 05:41] gaurav-dalvi commented on #306
@shaitmm : Issue is there because of docker 1.12.x . We had no issues with docker 1.11. If you want to try contiv you can try that. If you are strict on Docker 1.12 then I would suggest to wait for couple of days until we resolve above issue.

Docker 1.11 with Docker swarm + Contiv Demo : https://github.com/contiv/demo/tree/master/net

[2017-01-17 05:55] gaurav-dalvi commented on #284
https://github.com/contiv/ansible/pull/298
PR for this !

[2017-01-17 05:55] #284 closed

[2017-01-17 06:11] shaitmm commented on #306
@gaurav-dalvi hi bro, this is the one i use which install docker 1.10.3 as per my comment

[2017-01-17 06:12] gaurav-dalvi commented on #306
it installs docker 1.11.1

https://github.com/contiv/demo/blob/master/net/net_demo_installer#L197

[2017-01-18 04:02] shaitmm commented on #306
@gaurav-dalvi  im Installing Contiv Network with Docker Swarm and stucked at “TASK [etcd: copy the etcd start/stop script] node 3 failed AnsibleUndefinedVarable：’Dict object' has no attribute u' ansible_ens19'". Seems after ansible get iptalbes configured, ens192 on every node are not accessable anymore.

pls find env info as below.
[root@localhost net]# cat cfg.yml
CONNECTION_INFO:
 10.74.82.253:

[2017-01-18 04:05] shaitmm commented on #306
@gaurav-dalvi im Installing Contiv Network with Docker Swarm and stucked at “TASK [etcd: copy the etcd start/stop script] node 3 failed AnsibleUndefinedVarable：’Dict object' has no attribute u' ansible_ens192'". Seems after ansible get iptalbes configured, ens192 on every node are not accessable anymore.

pls find env info as below.
[root@localhost net]# cat cfg.yml
CONNECTION_INFO:
10.74.82.253:

[2017-01-18 04:06] shaitmm commented on #306
@gaurav-dalvi im Installing Contiv Network with Docker Swarm and stucked at “TASK [etcd: copy the etcd start/stop script] node 3 failed AnsibleUndefinedVarable：’Dict object' has no attribute u' ansible_ens192'". Seems after ansible get iptalbes configured, ens192 on every node are not accessable anymore.

pls find env info as below.
[root@localhost net]# cat cfg.yml
CONNECTION_INFO:
10.74.82.253:

[2017-01-18 18:29] gaurav-dalvi commented on #306
@shaitmm : I know this error. If you give incorrect interface name / or un reachable interface name in cfg.yml, you get that error. Please kindly check your cfg.yml again.
I hope you are using ansible 2.2.0.0

[2017-01-19 05:50] shaitmm commented on #306
@gaurav-dalvi
control: ens160
data: ens192
initially i use above cfg in cfg.yml which caused the same FW issue.
But i tried to swap the interface of control and data as above this time, i finally got swarm and contiv setup.
BTW, pls let me know once the issue i originally reported is resolve. i will give another try on k8s.

my ansible is the one you mentioned.
Name        : ansible
Arch        :

[2017-01-19 05:52] gaurav-dalvi commented on #306
Yes. we will have PR today or tomorrow and I will reply here once that is merged !
Thanks for your patience !

[2017-01-20 01:01] gaurav-dalvi opened #308 "error while executing net_demo_installer"
TASK [cleanup iptables for etcd] ***********************************************
[WARNING]: The loop variable 'item' is already in use. You should set the loop_var value in the loop_control option for the task to something else to avoid variable collisions and unexpected behavior.

failed: [node1] (item=2379) => {"changed": true, "cmd": "iptables -D INPUT -p tcp --dport 2379 -j ACCEPT -m comment -

[2017-01-20 16:10] neelimamukiri commented on #308
@gaurav-dalvi, we discussed this yesterday. The issue here is the node2 not being reachable.
PLAY RECAP *********************************************************************
node1 : ok=42 changed=11 unreachable=0 failed=0
node2 : ok=0 changed=0 unreachable=1 failed=0

[2017-01-20 23:40] dvavili commented on #308
@gaurav-dalvi: As @neelimamukiri has mentioned, this is not an issue with installer. Once the FQDN was provided, the installer proceeded to finish the tasks. The warning you are seeing does not affect the functionality here.

[2017-01-23 02:22] shaitmm commented on #306
@gaurav-dalvi hi bro, hopefully the issue is resolved on k8s, could you pls show me the changes of the new release.

[2017-01-23 02:54] gaurav-dalvi commented on #306
@shaitmm : Can you please check with docker swarm + contiv ?

Do git clone
https://github.com/contiv/netplugin/

make demo

make ssh

export DOCKER_HOST=tcp://192.168.2.10:3375

You are all se !

[2017-01-23 02:59] shaitmm commented on #306
@gaurav-dalvi
its working on swarm but not on k8s yet. i thought the issue on k8s could be resolved after the release is ready as per-talk.

[2017-01-23 05:46] gaurav-dalvi commented on #306
ok. I will let @gkvijay to comment on this one.
@gkvijay : We are not seeing network, in case of K8s setup.

[2017-01-23 12:53] shaitmm commented on #306
@gkvijay  could you pls guide me through contiv setup with K8s

[2017-01-24 09:15] #301 closed

[2017-01-25 00:51] shaitmm commented on #306
@gkvijay  hi bro, your input will be highly appreciated.

[2017-01-25 00:54] gkvijay commented on #306
@shaitmm, in k8s environment the docker commands will not show the contiv networks. We dont use docker daemon to create the networks. k8s handles it.

[2017-01-25 05:48] rhim commented on #206
Complete.

[2017-01-25 05:48] #206 closed

[2017-01-25 05:49] rhim commented on #251
Not applicable anymore.

[2017-01-25 05:49] #251 closed

[2017-01-26 20:20] gaurav-dalvi opened #313 "seeing these messages in ansible playbook execution"
[code]

seeing this for other tasks as well

[code]

is it expected ?

[2017-01-26 20:21] gaurav-dalvi commented on #313
ansible --version
ansible 2.2.1.0
  config file = /root/.ansible.cfg
  configured module search path = Default w/o overrides

[2017-01-26 20:40] gaurav-dalvi opened #314 "not able to install docker 1.12.6"
I am using net_demo_isntaller script to bring docker swarm + contiv setup

[code]

[2017-01-26 20:40] gaurav-dalvi commented on #314
docker --version
Docker version 1.12.6, build 78d1802

[2017-01-26 20:42] gaurav-dalvi commented on #314
[code]

[2017-01-26 20:43] gaurav-dalvi commented on #314
[code]

[2017-01-26 20:43] unclejack commented on #314
@gaurav-dalvi What was the previous Docker version?

[2017-01-26 20:44] gaurav-dalvi commented on #314
its docker 1.11.x

[2017-01-26 21:04] unclejack commented on #314
The loopback mounted storage file was missing. Only the metadata file was present.

[2017-01-26 21:44] unclejack commented on #314
This issue was caused by a cleanup step.

[2017-01-26 21:44] #314 closed

[2017-01-26 23:36] gaurav-dalvi opened #316 "netmaster is not able to come up"
[code]

[2017-01-26 23:38] gaurav-dalvi commented on #316
sudo netctl tenant ls
ERRO[0000] Leader not found

[2017-01-27 00:07] gaurav-dalvi commented on #308
not seeing this issue anymore.

[2017-01-27 00:07] #308 closed

[2017-01-27 01:28] gaurav-dalvi commented on #316
[code]

[2017-01-27 01:28] gaurav-dalvi commented on #316
[code]

[2017-01-27 05:42] gaurav-dalvi commented on #316
on aws also we are hitting this error.

[code]

[2017-01-27 05:43] gaurav-dalvi commented on #316
ansible --version
ansible 2.2.1.0
  config file = /home/centos/.ansible.cfg
  configured module search path = Default w/o overrides

[2017-01-27 06:42] #304 closed

[2017-01-27 07:44] neelimamukiri opened #317 "Add a persistent storage bind mount for etcd service"
systemctl restart etcd ends up clearing out the etcd datastore as there is no host folder mounted or persistent storage.

[2017-01-27 19:50] neelimamukiri commented on #316
Ports 2380, 4001 and 7001 had to be opened. It works now after opening the ports.

[2017-01-27 19:56] neelimamukiri commented on #316
I'm going to close the issue, please re-open if you see the problem again.

[2017-01-27 21:08] gaurav-dalvi commented on #316
Issue is still there for baremetal. Apology that for aws i should have opened those ports on SG. We still need to figure it out solution for baremetal. Its random so I can not reproduce the problem 100% of time.

[2017-01-27 21:51] gaurav-dalvi commented on #316
@jojimt : Could you please check on this one ?

even if its etcd issue, It actually blocks our setup installing contiv services

[2017-01-27 22:11] neelimamukiri commented on #316
@gaurav-dalvi, where is the baremetal setup where the issue happens? Do you have a repro where it is in that state?

[2017-01-28 04:04] gaurav-dalvi opened #318 "AWS tf script, display output"
Once scripts executes successfully, Please provide following details. Preferably in this format
machine1:IP,eth0:IP,eth1:IP
machine2:IP,eth0:IP,eth1:IP
machine3:IP,eth0:IP,eth1:IP ...

[2017-01-28 04:04] gaurav-dalvi commented on #318
feel free to create your own formate. Formate is not important content is important.

[2017-01-30 19:31] neelimamukiri commented on #299
Cluster store field was added in https://github.com/contiv/ansible/commit/1d7d2d725b3c23217ebda01face4af871d324021.
So netplugin does not need any additional parameter.
TODO: add listen-url (:9999) and dns-enable (false) parameters to the netmaster installation. I will add these.

[2017-01-30 19:58] gaurav-dalvi commented on #305
Needed for ciscolive lab.

[2017-01-31 05:25] gaurav-dalvi commented on #316
Any idea why are we doing this : https://github.com/contiv/ansible/blob/ddbf3ef53be633ccd6af72c2a64eca6bc3ce02e7/roles/contiv_network/tasks/main.yml#L59-L76

@DivyaVavili @jojimt

Is there any difference using FQDN or IP in cfg.yml file for the installer ?

[2017-01-31 05:33] jojimt commented on #316
I think there may be references to netmaster somewhere else in ansible. You just need to make sure service_vip is an IP address (not a hostname). This is a variable passed to ansible.

[2017-01-31 05:53] gaurav-dalvi commented on #316
we are seeing problem in lab, that if you use FQDN in stead of IP, we hit this error.

[2017-01-31 05:54] jojimt commented on #316
You need to check how service_vip is populated. That may be incorrect in the script.

[2017-01-31 05:59] gaurav-dalvi commented on #316
lab is using same script which we have. they have not changed anything there.
https://github.com/contiv/install/blob/master/install/ansible/install_swarm.sh

which in turn calls contiv/ansible playbooks.

[2017-01-31 15:31] jojimt commented on #316
Are you saying this worked before and is broken now?

[2017-01-31 16:17] gaurav-dalvi commented on #316
Nope. This is totally random and we are still not sure when do we hit this error. My guess is related to FQDN which I already mentioned.

We need to come up with some guidelines here.
For contiv+swarm or contiv+k8s setup:
1: What is minimum requirement for Node ? (RAM, CPU etc)
2: What are the minimum number of nodes are required for this setup. (I know for K8s we need minimum 3 nodes.)
3: Should

[2017-01-31 16:36] jojimt commented on #316
Let's just debug the issue -- seems to be something simple. Do you have any logs or steps to repro?

[2017-01-31 23:15] neelimamukiri opened #320 "Docker role cleanup should remove any running containers"
Same for swarm

[2017-02-01 04:18] neelimamukiri commented on #320
Refer to https://github.com/contiv/install/issues/12 for more details.

[2017-02-01 18:58] dojacobs commented on #318
Added output statement to aws.tf script which outputs list of private IP#s:
54.172.35.5,
54.133.23.6,
54.23.18.1

(aws.tf script change has been merged into contiv/ansible)

E2E Pipeline script on Jenkins takes this list, and turns it into a string:
"54.172.35.5 54.133.23.6 54.23.18.1"

This way it can be inserted on the command line for the script to generate the cfg.yml file used by the Installe

[2017-02-01 18:58] #318 closed

[2017-02-02 22:18] rchirakk commented on #299
@neelimamukiri,  dns-enable (false) will be removed by https://github.com/contiv/netplugin/pull/661

[2017-02-02 22:21] neelimamukiri commented on #299
Thanks @rchirakk. So netmaster port is the only parameter left to be added.

[2017-02-06 17:52] neelimamukiri commented on #316
Lab machines are having some issue with accessing docker hub - so pulling images takes very long (20+ mins for aci-gw container etc.). This leads to etcd not coming up fast enough on a new setup. Sometimes netmaster tries to start before etcd is up and fails to start. Adding service restarts on failure causes netmaster to retry after the failure, etcd service does the same. However when etcd servi

[2017-02-06 21:50] #317 closed

[2017-02-06 22:33] gaurav-dalvi opened #326 "open 10000 (auth_proxy port)"
@JohnKDay just pointed that, our ansible scripts are not opening 10000 port .
We need to open it.

[2017-02-08 19:44] gaurav-dalvi opened #330 "Unsintall and delete the softwares / component which we are installing"
Scope : Swarm + Contiv installer
Current installer, when started with scheduler install option, install docker engine and then install docker swarm on nodes. Uninstaller when provided with right set of options, should uninstall and cleanup everything.
i.e:
1: stop and remove all the containers
2: Stop and remove docker engine
3: Stop and remove etcd

Please feel free to add anything i have missed.

[2017-02-08 20:59] neelimamukiri commented on #330
#320 is tracking container & image state. This issue is only to track uninstalling the rpms (docker) and removing the service files.

[2017-02-08 22:06] #320 closed

[2017-02-09 00:09] #326 closed

[2017-02-09 19:11] neelimamukiri commented on #316
I think this is resolved. We haven't seen the issue after the etcd changes.

[2017-02-09 19:11] #316 closed

[2017-02-10 02:57] rhim commented on #299
Since #331 isn't slated for beta, I am removing this issue from beta milestone.

[2017-02-10 03:01] rhim commented on #295
Folks, just to clarify, is this issue closed by PR #293 ? If so, please mark it closed.

[2017-02-16 20:06] rhim opened #335 "Private box files got removed"
Fixed in #334

[2017-02-17 04:11] #335 closed

[2017-02-19 00:39] unclejack commented on #295
This issue is no longer relevant. The required roles are already in the playbooks. The installation of Go and other tools falls in another area. The tools which use these playbooks should use the existing role.

[2017-02-19 00:39] #295 closed

[2017-03-23 00:55] JohnKDay opened #339 "Ansible installer for Docker swarm install of OVS fails for RHEL machines"
Error from running installer.
[code]

This issue is due to the difference in $releasever evaulated between CentOS (7) and RedHat (7Server).

    cat /etc/os-release; yum-debug-dump --norepos /tmp/version && grep releasever /tmp/version

[code]

[code]

Newer version of rdo-release (like ocata) do not have this issue, by explicit use of "7" in path.

[code]

[2017-04-14 06:25] neelimamukiri commented on #339
https://github.com/contiv/ansible/commit/7c3c863f95641aa021f867b18410a107dfa49fba has updated the release to use ocata. @JohnKDay, can you please retest and see if this issue is resolved?

[2017-06-07 20:47] DivyaVavili opened #352 "Replace netplugin_port with listen_url's port"
All the playbooks are opening up netplugin_port, but the actual port that netmaster is using is the listen_url port and the control_url port.
- Replace/remove netplugin_port with listen_url and control_url port or make sure that they are the same
- Open up these ports as necessary

[2017-06-07 21:25] DivyaVavili opened #354 "Combine contiv_network and v2plugin roles"
contiv_network and v2plugin roles are almost similar except for installing using binaries versus plugin
- Investigate the best way to merge and include the specific tasks based on the install mode (plugin/binary)

[2017-06-09 04:08] neelimamukiri opened #357 "v2 plugin install needs netctl_url set to default"

[2017-06-10 00:11] rhim commented on #339
@JohnKDay please close this if no longer needed

[2017-06-12 14:47] rhim commented on #352
@DivyaVavili does this result in a bug if different listen/control ports are used? What's the value of netplugin_port?

[2017-06-12 17:19] dvavili commented on #352
Yes, this will be a bug if they are different. Currently, all these vars default to 9999 port. But we should be opening up listen_url/control_url.

[2017-06-20 23:35] #357 closed

[2017-06-29 05:01] neelimamukiri commented on #339
@JohnKDay, closing this. Please reopen if required.

[2017-06-29 05:01] #339 closed

[2017-07-03 22:09] neelimamukiri commented on #354
Resolved with https://github.com/contiv/ansible/pull/359

[2017-07-03 22:09] #354 closed

[2017-08-16 16:13] neelimamukiri opened #364 "Install bzip2 for v2 Plugin install"

[2017-09-20 16:11] unclejack opened #367 "handle v2plugin upgrade"
The v2plugin needs to be upgraded when the currently installed version isn't the same as the new version.

[2022-02-08 20:26] #248 closed